<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
  <div th:fragment="fr_EmailModal">
    <!-- pw edit Modal -->
    <div class="modal fade" id="emailChange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">이메일 변경</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group input-group-sm mb-3">
              <!-- 이메일 변경 시작 -->
              <div id="change-email-area">
                <form th:name="form3" method="post">
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                  <input type="hidden" name="userId" th:value="${dto.getUserId() }" readonly>
                  <div class="modal-div">
                    <div class="modal-editcheck">
                      <!-- 변경할 이메일 입력  -->
                      <input type="text" id="userEmailedit" name="userEmail" maxlength="50"
                        placeholder="변경할 이메일을 입력하세요.">
                      <!-- 유효성 검사문구 -->
                      <p id="userEmailCheck"></p>
                    </div>
                    <input type="button" class="modal-editbtn" id="change-email-btn" value="변경">
                  </div>
                </form>
              </div>
              <!-- 이메일 변경 끝 -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/js/mypage_email_change.js"></script>
</body>

</html>