<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!-- Featherlight.js -->
	<script src="/src/main/resources/static/js/featherlight.js"></script>
	<link rel="stylesheet" href="/src/main/resources/static/css/featherlight.css">
<body>

	<header th:fragment="fr_header">

	  <div class="headertop">
    	<div class="headerlogo">
    	  <img src="" class="headerlogo">
  	    </div>
	    <div class="headernav">
		<div class="gnb">
			<a th:href="@{/}" data-link="골라"></a>
	        <a th:href="@{/recipe}" data-link="레시피보기"></a>
	        <a th:href="@{/review}" data-link="리뷰게시판"></a>
	     </div>
		<div class="gnb2">
			<ul>
				<li sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post">
				        <button >로그아웃</button>
				    </form>
				</li>
				<li sec:authorize="isAnonymous()" >
					<button data-bs-toggle="modal" data-bs-target="#loginModal">
						로그인
					</button>
				</li>
				<li sec:authorize="isAnonymous()" >
					<button data-bs-toggle="modal" data-bs-target="#staticBackdrop">
						회원가입
					</button>
				</li>
				<li sec:authorize="isAuthenticated()" >
					<form th:action="@{/mypage}" method="get">
						<button>마이페이지</button>
					</form>
				</li>
				<li sec:authorize="hasAuthority('ADMIN')">
					<form th:action="@{admin/list}" method="get">
						<button>전체 회원목록</button>
					</form>
				</li>
			</ul>
		</div>
	    </div>
	    </div>
		
		<div th:insert="layout/loginModal :: fr_loginModal"></div>
		<div th:insert="layout/joinModal :: fr_joinModal"></div>
	</header>
	
	<footer th:fragment="fr_footer">
		 <div class="footermain">
		    <div class="footernavdiv">
		      <ul class="footernav">
		        <li><a th:href="@{/}">HOME</a></li>
		        <li><a th:href="@{/about}">ABOUT</a></li>
		        <li><a th:href="@{https://github.com/teamwabang/Gola}" target="_blank">GitHub</a></li>
		      </ul>
		    </div>
		    <div class="footerinfo">
		      <span class="footername">@2022 DESIGN BY WABANG </span>
		      <span id="footertopbutton"><a href="javascript:window.scrollTo(0,0);"><i class="fa-solid fa-circle-chevron-up" ></i> TOP</a></span>
		    </div>
		  </div>
	</footer>
	
	

</body>
</html>