<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Featherlight.js -->
<script src="/src/main/resources/static/js/featherlight.js"></script>
<link rel="stylesheet" href="/src/main/resources/static/css/featherlight.css">

<body>

   <header th:fragment="fr_header">

		<!-- 로고 -->
		<div class=" golalogo">
			<h3>
				<a th:href="@{/}" id="homebutton"><img src="/images/golalogo.png" alt="GOLA Home"></a>
			</h3>
		</div>
		<!-- 로그인 -->
		<div sec:authorize="isAuthenticated()" class="indexloginlogout">
			<form th:action="@{/logout}" method="post">
				<button class="indexbutton logjoinbutton">로그아웃</button>
			</form>
		</div>
		<div sec:authorize="isAnonymous()" class="indexlogin">
			<button class="indexbutton logjoinbutton" data-bs-toggle="modal"
				data-bs-target="#loginModal">로그인</button>
		</div>
		<!-- 회원가입 -->
		<div sec:authorize="isAnonymous()" class="indexjoin">
			<button  class="indexbutton logjoinbutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				회원가입
			</button>
		</div>
		<!-- 쇼핑몰 -->
		<div sec:authorize="isAuthenticated()" class="indexloginshop">
			<form th:action="@{/shop}" method="get">
				<button  class="indexbutton logjoinbutton">쇼핑몰</button>
			</form>
		</div>
		<!-- 마이페이지 -->
		<div sec:authorize="isAuthenticated()" class="indexloginmypage">
			<form th:action="@{/mypage}" method="get">
				<button  class="indexbutton logjoinbutton">마이페이지</button>
			</form>
		</div>
		<!-- 관리자 -->
		<div sec:authorize="hasAuthority('ADMIN')" class="indexloginallusers">
			<form th:action="@{/admin}" method="get">
				<button class=" indexbutton logjoinbuttonallusers">관리자</button>
			</form>
		</div>

		<!-- trigger -->
		<div class="indextrigger">
			<span></span> <span></span> <span></span>
		</div>
		<!-- trigger 메뉴 -->
		<div class="navmodal-gnb">
			<div class="modalgnb">
				<a th:href="@{/recipe}">RECIPE</a> <a th:href="@{/review}">REVIEW</a>
				<a th:href="@{/shop}">SHOP</a> <a th:href="@{/cal}">DIET</a>
			</div>
		</div>
		<!-- end of 상단 header 고정값 -->


		<!-- 	modal -->
		<div th:insert="layout/loginModal :: fr_loginModal"></div>
		<div th:insert="layout/joinModal :: fr_joinModal"></div>

		<!-- trigger -->
		<script>
			$('.indextrigger').click(function() {
				$(this).toggleClass('popup')
				$('.navmodal-gnb').fadeToggle();
			})
		</script>
	</header>

	<footer th:fragment="fr_footer">
		<div class="footermain">
			<div class="footernavdiv">
				<ul class="footernav">
					<li><a th:href="@{/}">HOME</a></li>
					<li><a th:href="@{/about}">ABOUT</a></li>
					<li><a th:href="@{https://github.com/teamwabang/Gola}"
						target="_blank">GitHub</a></li>
				</ul>
			</div>
			<div class="footerinfo">
				<span class="footername">@2022 DESIGN BY WABANG </span> <span
					id="footertopbutton"><a
					href="javascript:window.scrollTo(0,0);"><i
						class="fa-solid fa-circle-chevron-up"></i></a></span>
			</div>
		</div>
	</footer>
</body>

</html>