<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="joinBody">
				
  <div th:fragment="fr_joinModal">
  <form th:each="key : ${key}">
  <input type="text" th:text="${key.key}">
  </form>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="joinmodalsize">
          <div class="modal-header">
            <h5 class="modal-title" id="staticLabel">골라에 오신 걸 환영합니다.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form th:action="@{/join}" method="post" class="joinForm">
              <div class="joinId">
                <h2 class="joinTitle"><span class="important">아이디</span></h2>
                <div class="joinIdInput">
                  <input class="joininput" type="text" name="userId" id="userIdJoin" maxlength="20"
                    placeholder="아이디를 입력해주세요.">
                </div>
                <span id="userIdCheck"></span>
              </div>
              <div class="joinPwd">
                <h2 class="joinTitle"><span class="important">비밀번호</span></h2>
                <div class="joinInput">
                  <input type="password" name="userPwd" id="userPwdJoin" class="joininput_password" maxlength="16" placeholder="비밀번호를 입력해주세요.">
                  <p id="userPwdCheck"></p>
                  <h2 class="joinTitle"><span class="important">비밀번호 재확인</span></h2>
                  <input type="password" name="pwdConfirm" id="confirm" class="joininput_password" maxlength="16" placeholder="비밀번호를 확인해주세요.">
                  <p id="userPwdConfirmNo" style="display:none;">비밀번호가 일치하지 않습니다.</p>
                  <p id="userPwdConfirmYes" style="display:none;">비밀번호가 일치합니다.</p>
                </div>
              </div>
              <div class="joinNickname">
                <h2 class="joinTitle"><span class="important">닉네임</span></h2>
                <div class="joinInput">
                  <input class="joininput" type="text" name="userNickname" id="userNickname" maxlength="20"
                    placeholder="닉네임을 입력해주세요.">
                </div>
                <span id="userNicknameCheck"></span>
              </div>
              <div class="joinPhone">
                <h2 class="joinTitle">휴대폰 번호</h2>
                <div class="joinInput">
                  <input class="joininput" type="text" name="userPhone" id="userPhone" maxlength="11" placeholder="휴대폰 번호를 입력해주세요.">
                </div>
                <span id="userPhoneCheck"></span>
              </div>
              <div class="joinEmail">
                <h2 class="joinTitle"><span class="important">이메일</span></h2>
                <div class="joinInput">
                  <input class="joininput_email" type="text" name="userEmail" id="userEmail" maxlength="50" placeholder="예) GOLA###@gmail.com">
	              <button type="button" id="sendMail" class="join_sendmail">이메일전송</button>
	              <input class="joininput_email" type="text" name="authCode" id="authCode" maxlength="10" placeholder="인증코드를 입력해주세요.">
	              <button type="button" id="sendMail_success" class="join_sendmail">인증하기</button>
                </div>
                <span id="userEmailCheck"></span>
              </div>
              <div class="joinAdress">
              	<h2 class="joinTitle">주소</h2>
              	<div class="joinInput">
              		<div>
	              		<input class="joininput_zipcode" type="text" name="userZipcode" id="userZipcode" maxlength="8"
	              		placeholder="우편번호" readonly>
	              		<button type="button" class="join_post_search" onclick="join_execDaumPostcode()">우편번호검색</button>
              		</div>
              		<div>
	              		<input class="joininput_addr1" type="text" name="userAddr1" id="userAddr1" maxlength="100"
	              		placeholder="주소" readonly>
	              		<input class="joininput_addr2" type="text" name="userAddr2" id="userAddr2" maxlength="30"
	              		placeholder="상세주소">
	              		<div id="join_wrap" class="join_kakao_postalcode">
	              			<img src="/images/shop/kakao_postalcode_close.png" id="join_btnFoldWrap" onclick="join_foldDaumPostcode()" alt="close">
	              		</div>
              		</div>
              	</div>
              	
              	<!-- 우편번호 검색 카카오 API 시작 -->
				<script type="text/javascript">
				    // 우편번호 찾기 찾기 화면을 넣을 element
				    var element_wrap = document.getElementById('join_wrap');
				
				    function join_foldDaumPostcode() {
				        // iframe을 넣은 element를 안보이게 한다.
				        element_wrap.style.display = 'none';
				    }
				
				    function join_execDaumPostcode() {
				        // 현재 scroll 위치를 저장해놓는다.
				        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
				        new daum.Postcode({
				            oncomplete: function(data) {
				                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
				
				                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
				                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
				                var addr = ''; // 주소 변수
				                var extraAddr = ''; // 참고항목 변수
				
				                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
				                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
				                    addr = data.roadAddress;
				                } else { // 사용자가 지번 주소를 선택했을 경우(J)
				                    addr = data.jibunAddress;
				                }
				
				                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
				                if(data.userSelectedType === 'R'){
				                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
				                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
				                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
				                        extraAddr += data.bname;
				                    }
				                    // 건물명이 있고, 공동주택일 경우 추가한다.
				                    if(data.buildingName !== '' && data.apartment === 'Y'){
				                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
				                    }
				                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
				                    if(extraAddr !== ''){
				                        extraAddr = ' (' + extraAddr + ')';
				                    }
				                    // 조합된 참고항목을 해당 필드에 넣는다.
				                    document.getElementById("userAddr1").value = extraAddr;
				                
				                } else {
				                    document.getElementById("userAddr1").value = '';
				                }
				
				                // 우편번호와 주소 정보를 해당 필드에 넣는다.
				                document.getElementById('userZipcode').value = data.zonecode;
				                document.getElementById("userAddr1").value = addr;
				                // 커서를 상세주소 필드로 이동한다.
				                document.getElementById("userAddr2").focus();
				
				                // iframe을 넣은 element를 안보이게 한다.
				                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
				                element_wrap.style.display = 'none';
				
				                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
				                document.body.scrollTop = currentScroll;
				            },
				            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
				            onresize : function(size) {
				                element_wrap.style.height = '470px';
				            },
				            width : '100%',
				            height : '100%'
				        }).embed(element_wrap);
				
				        // iframe을 넣은 element를 보이게 한다.
				        element_wrap.style.display = 'block';
				    }
				</script>
				<!-- 우편번호 검색 카카오 API 끝 -->
				
				<!-- 이메일인증 전송 시작 -->
				<script type="text/javascript">
					/* $("#sendMail").click(function() {
						var userEmail = $("#userEmail").val();
						
						if(userEmail == "") {
							alert("이메일을 입력해주세요.");
						} else {
							userEmail = userEmail;
							
							$.ajax({
								type: 'get',
								url: '/mail',
								accept: "application/json",
								contentType: "application/json; charset=utf-8",
								data: { email : userEmail },
								dataType: 'json'
							});
							alert("인증번호가 전송되었습니다.")
							isCertification = true;
						}
					})
					
					$("#sendMail_success").click(function() {
						var authCode = $("#authCode").val();
						
						if(authCode == "") {
							alert("인증코드가 일치하지 않습니다.");
						} else {
							alert("인증코드가 일치하여 정상인증 되었습니다.");
						} 
					}) */
				</script>
				<!-- 이메일인증 전송 끝 -->
              
              </div>
              <div class="modal-footer joinResetBtn">
                <button type="submit" class="btn btn-secondary" data-toggle="modal" id="joinSubmit"
                  disabled="disabled">회원가입</button>
                <button type="reset" class="btn btn-secondary">초기화</button>
              </div>
            </form>
            
            <script type="text/javascript">
              	$("#joinSubmit").click(function() {
					var userEmail = $("#userEmail").val();
					
					if(userEmail == "") {
						alert("이메일을 입력해주세요.");
					} else {
						userEmail = userEmail;
						
						$.ajax({
							type: 'get',
							url: '/mail',
							accept: "application/json",
							contentType: "application/json; charset=utf-8",
							data: { email : userEmail },
							dataType: 'json'
						});
						alert("인증번호가 전송되었습니다.")
						isCertification = true;
					}
				})
			</script>
			
          </div>
        </div>
      </div>
    </div>
  </div>	
</body>

</html>