<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="fr_loginModal">
	<!-- loginModal -->
	<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">골라에 오신 것을 환영합니다.</h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	        <div class="modal-body" th:style="${'text-align: center;'}">
		    	<form th:action="@{/login}" method="post">		    	
			    	<div class="loginSection">
			    		<div class="loginLabel">
				 			<h2>로그인</h2>
				 		</div>
			          	<input type="text" class="id" id="userId" name="username" placeholder="아이디" autofocus /><br>
			          	<input type="password" class="pw" id="userPwd" name="password" placeholder="암호" /><br>
			         	 <button type="submit" class="login btn btn-secondary loginFooterBtn" id="btnLogin">로그인</button>
			         	 <div class="or">
				         	 <button class="socialLogin">네이버/카카오 버튼뽑아서</button>
				         	 <button class="socialLogin">넣어야하는데 이미지 깨짐 ㅜ</button>     			         	 
			          </div>
			          </div>		   
			 	</form>	 	
    		</div>
	    </div>
	  </div>
	</div>
	</div>
</body>
</html>