<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="fr_PwModal">
	<!-- pw edit Modal -->
	    <div class="modal fade" id="pwdChange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">비밀번호 변경</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">비밀번호</span>
		      	<form th:name="form1" method="post">
					<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
					<input type="hidden" name="userId" th:value="${dto.getUserId() }" readonly><br>
					<input type="password" id="userPwdEdit" name="userPwd" placeholder="변경할 비밀번호를 입력하세요."><br>
					 <p id="userPwdCheck"></p>
			    	<input type="button" id="change-password-btn" value="변경">
			</form>
          </div>
        </div>
      </div>
    </div>
	</div>
	
		<script type="text/javascript">

	
		$('#userPwdEdit').on('keyup' ,function() {
		  if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^*()\-_=+\\\|\[\]{};:\'",.<>\/?]).{8,16}$/g.test($('#userPwdEdit').val())) {
		    $('#userPwdCheck').css({
		      "color" : "red"
		    });
		    $('#userPwdCheck').html("비밀번호는 영문 대/소문자, 숫자, 특수문자가 모두 1개이상 포함된 8~16자리로 입력해주세요.");
		    $('#userPwdCheck').show();
		  } else {
		    $('#userPwdCheck').css({
		      "color" : "blue"
		    });
		      $('#userPwdCheck').html("사용 가능한 비밀번호 입니다.");
		      $('#userPwdCheck').show();
		  }
		});
		
		$(function() {
			$("#change-password-btn").click(function() {
				if(!/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^*()\-_=+\\\|\[\]{};:\'",.<>\/?]).{8,16}$/g.test($('#userPwdEdit').val())) {
					confirm("알맞은 비밀번호 형식으로 입력해주세요");
				}else if(confirm("회원정보를 수정하시겠습니까?")) {
		    		// 폼 내부의 데이터를 전송할 주소
		    		document.form1.action="mypage/modify/password";
		    		document.form1.submit();	// 제출
	    		}
			});
		});
		

	</script>
</body>
</html>