<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.MenuMapper">

	<!-- 메뉴 전체리스트 출력 -->
	<select id="menulist" resultType="MenuDTO">
	<![CDATA[
		SELECT *
		FROM menu
	]]>
	</select>
	
	<!-- 각 메뉴 상세페이지 출력 -->
	<select id="detail" resultType="MenuDTO" parameterType="int">
		SELECT *
		FROM menu
		WHERE no=${no};
	</select>
	
</mapper>