<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.recipe.gola.mapper.OrderMapper">
  
	  <!-- 주문자정보 출력 -->
	  <select id="list" resultType="OrderDTO">
	  		SELECT *
	  		FROM order
	  		WHERE oNo = ${oNo}
	  </select>
	
	<select id="selectOno" resultType="string">
   		SELECT 
      		IFNULL(MAX(oNo) + 1, 1) as oNo	/*프라이머리키 1씩 증가시키기*/
       	FROM order
	</select>	
	
	<!-- 주문 저장 -->
    <insert id="insertOrder" parameterType="OrderDTO">
    	/*com.recipe.gola.mapper.OrderMapper.OrderDTO*/

		INSERT INTO order
        (
			oNo	 		/*주문처리 번호 */
			, orderNo	 	/*주문번호 */
			, oUserId	 	/*회원 아이디 */
			, oName	 	/*수령자 이름 */
			, oPhone	 	/*수령자 전화번호 */
			, oZipcode	 /*수령자 우편번호 */
			, oAddr1	 	/*수령자 주소 */
			, oAddr2	 	/*수령자 상세주소 */
			, oReques		/*배송 시 요청사항 */
			, oRegdate		/*결제일*/
        )
        VALUES
      	(
			#{oNo}	 			/*주문처리 번호 */
			, #{orderNo}	 	/*주문번호 */
			, #{oUserId} 		/*회원 아이디 */
			, #{oName}	 		/*수령자 이름 */
			, #{oPhone}	 		/*수령자 전화번호 */
			, #{oZipcode}	 	/*수령자 우편번호 */
			, #{oAddr1}	 		/*수령자 주소 */
			, #{oAddr2}	 		/*수령자 상세주소 */
			, #{oReques}		/*배송 시 요청사항 */
			, now()				/*결제일*/
      	)
    </insert>
  
  </mapper>