<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.recipe.gola.mapper.ProductMapper">
  
  <!-- 상품정보 출력 -->
  <select id="list" resultType="ProducDTO">
  		SELECT *
  		FROM product
  		WHERE pNo = ${pNo}
  		
  
  
  </select>
  
  </mapper>