<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.RecipeLinkMapper">
	
	<!-- 각 레시피 링크 출력 -->
	<select id="detailLink" resultType="RecipeLinkDTO" parameterType="int">
	<![CDATA[
		SELECT *
		FROM recipe_link
		WHERE no=${no}
	]]>
	</select>
	
</mapper>