<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.ShopMapper">

	<!-- 쇼핑몰 리스트 출력 -->
	<select id="shoplist" resultType="ProductDTO" parameterType="ProductDTO">
		SELECT 
			prod.pNo
			, prod.pName
			, prod.pPrice
			, prod.pImage
		FROM product prod
		where 1=1         
        ORDER BY RAND()
        limit 3;
	</select>
	
	<!-- 쇼핑몰 재료 리스트 상세페이지 출력 -->
	<select id="shopdetail" resultType="ProductDTO" parameterType="int">
	<![CDATA[
		SELECT *
		FROM product
		WHERE pno=${pno};
	]]>
	</select>
	
	
</mapper>