<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.UserMapper">

	<!-- 관리자 회원 전체리스트 출력 -->
	<select id="userlist" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		ORDER BY regdate DESC
	]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertuser">
	<![CDATA[
		INSERT INTO gola.user (userId, userPwd, userNickname, userEmail, userAuth, regdate)
		VALUES(#{userId}, #{userPwd}, #{userNickname}, #{userEmail}, "USER", now())
	]]>
	</insert>
	
	<!-- 로그인 -->
	<select id="findByUsername" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		WHERE userId=#{userId}
	]]>
	</select>
	
	<!-- 마이페이지 정보조회 -->
	<select id="infouser" resultType="UserDTO">
	<![CDATA[
		select *
		from user
		where userId=#{userId}
	]]>
	</select>
	
	<!-- 마이페이지 회원정보 수정 -->
	<update id="updateuser">
		update user
		set
		userNickname=#{userNickname}, userEmail=#{userEmail}
		where userId=#{userId}
	</update>
	
	<!-- 비밀번호 변경 -->
	<update id="updatepwd">
		update user
		set
		userPwd=#{userPwd}
		where userId=#{userId}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="deleteuser">
		delete
		from user
		where userId=#{userId}
	</delete>
	
	<!-- 비밀번호 체크 -->
	<select id="checkpwd" resultType="String">
		select userPwd
		from user
		where userId=#{userId}
	</select>
	
</mapper>