<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.UserMapper">

	<!-- 관리자 회원 전체리스트 출력 -->
	<select id="userlist" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		ORDER BY regdate DESC
	]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertuser">
	<![CDATA[
		INSERT INTO user (userId, userPwd, userNickname, userEmail, userAuth, regdate)
		VALUES(#{userId}, #{userPwd}, #{userNickname}, #{userEmail}, "GUEST", now())
	]]>
	</insert>
	
	<!-- 회원가입 이메일 인증시 권한 업데이트 -->
	<update id="updateAuth" parameterType="UserDTO">
	<![CDATA[
		UPDATE user
		SET
		userAuth = "USER", modifiedDate = now()
		WHERE userEmail=#{userEmail}
	]]>
	</update>
	
	<!-- 아이디 중복확인 -->
    <select id="idCheck" resultType="int">
    <![CDATA[
        SELECT COUNT(*)
        FROM user
        WHERE userId=#{userId}
    ]]>
    </select>
    
    <!-- 닉네임 중복확인 -->
    <select id="nicknameCheck" resultType="int">
    <![CDATA[
        SELECT COUNT(*)
        FROM user
        WHERE userNickname=#{userNickname}
    ]]>
    </select>
    
    <!-- 이메일 중복확인 -->
    <select id="emailCheck" resultType="int">
    <![CDATA[
        SELECT COUNT(*)
        FROM user
        WHERE userEmail=#{userEmail}
    ]]>
    </select>
	
	<!-- 로그인 -->
	<select id="findByUsername" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		WHERE userId=#{userId}
	]]>
	</select>
	
	<!-- 마이페이지 정보조회 -->
	<select id="infouser" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		WHERE userId=#{userId}
	]]>
	</select>
	
	<!-- 마이페이지 회원정보 수정(비밀번호) -->
	<update id="modifyPwd" parameterType="UserDTO">
	<![CDATA[
		UPDATE user
		SET
		userPwd=#{userPwd}, modifiedDate=now()
		WHERE userId=#{userId}
	]]>
	</update>
	
	<!-- 마이페이지 회원정보 수정(닉네임) -->
	<update id="modifyNickname" parameterType="UserDTO">
	<![CDATA[
		UPDATE user
		SET
		userNickname=#{userNickname}, modifiedDate=now()
		WHERE userId=#{userId}
	]]>
	</update>
	
	<!-- 마이페이지 회원정보 수정(이메일) -->
	<update id="modifyEmail" parameterType="UserDTO">
	<![CDATA[
		UPDATE user
		SET
		userEmail=#{userEmail}, modifiedDate=now()
		WHERE userId=#{userId}
	]]>
	</update>
	
	<!-- 회원정보 삭제 -->
	<delete id="remove" parameterType="UserDTO">
	<![CDATA[
		DELETE
		FROM user
		WHERE userId=#{userId}
	]]>
	</delete>
	
</mapper>