<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.gola.mapper.UserMapper">

	<select id="userlist" resultType="UserDTO">
	<![CDATA[
		SELECT *
		FROM user
		ORDER BY regdate DESC
	]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="insertuser">
	<![CDATA[
		INSERT INTO gola.user (userId, userPwd, userNickname, userEmail, userAuth, regdate)
		VALUES(#{userId}, #{userPwd}, #{userNickname}, #{userEmail}, "USER", now())
	]]>
	</insert>
	
	<!-- 로그인 -->
	<select id="findByUserId">
	<![CDATA[
		SELECT *
		FROM user
		WHERE userId=#{userId}
	]]>
	</select>
	
</mapper>