<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>칼로리 계산</title>
    <!-- CSS -->
    <th:block th:replace="style :: style_bootstrap" />
    <th:block th:replace="style :: style_styles" />
    <th:block th:replace="style :: style_recipe" />
    
    <!-- JavaScrip -->
    <!-- fontawesome -->
  	<script src="https://kit.fontawesome.com/c21d7630fc.js" crossorigin="anonymous"></script>  
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/chatbot.js"></script>
  </head>
  <body class="bbsbody"	>
	  <div class="calBackground">
	  <!-- import header -->
	  <header th:replace="layout/fragment :: fr_header"></header>
	  <!-- end of import header -->
	
	  <!-- center title -->
	  <div>
	    <span class="bbstitle"> CHECK </span>
	  </div>
    <div class="calMain">
      <form action="#">
        <div id="genderSection">
          <div class="genderTitle">성별</div>
          <input
            type="radio"
            class="btn-check"
            name="gender"
            id="male"
            value="5"
          />
          <label class="btn btn-secondary calbtns" for="male">남자</label>
          <input
            type="radio"
            class="btn-check"
            name="gender"
            id="female"
            value="-151"
          />
          <label class="btn btn-secondary calbtns" for="female">여자</label>
        </div>
        <div id="ageSection">
          <label class="labels" for="ageSection">나이 (세)</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="age"
          >
          </select>
        </div>
        <div id="heightSection">
          <label class="labels" for="heightSection">키 (cm)</label>
          <input
            type="number"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            placeholder="숫자만 입력 가능합니다"
            id="height"
          />
        </div>
        <div id="weightSection">
          <label class="labels" for="weightSection">몸무게 (kg)</label>
          <input
            type="number"
            class="form-control"
            aria-label="Username"
            aria-describedby="basic-addon1"
            placeholder="숫자만 입력 가능합니다"
            id="weight"
          />
        </div>

        <div id="levelSection">
          <div class="levelTitle">활동레벨*</div>
          <div class="levelInnerSection">
          <input
            type="radio"
            class="btn-check"
            name="level"
            id="noneAct"
            value="1.3"
          />
          <label class="btn btn-secondary calbtns" for="noneAct"  onclick="focusTable(event)">활동이 거의 없음</label>
          <input
            type="radio"
            class="btn-check"
            name="level"
            id="lowAct"
            value="1.5"
          />
          <label  class="btn btn-secondary calbtns" for="lowAct" onclick="focusTable(event)">낮은 활동성</label >
          <input
            type="radio"
            class="btn-check"
            name="level"
            id="mediumAct"
            value="1.7"
          />
          <label class="btn btn-secondary calbtns" for="mediumAct" onclick="focusTable(event)">활동적</label>

          <input
            type="radio"
            class="btn-check"
            name="level"
            id="highAct"
            value="2.4"
          />
          <label class="btn btn-secondary calbtns" for="highAct" onclick="focusTable(event)">매우 활동적</label>
          </div>
        </div>
        <div class="resultBtn">
          <input
            class="btn btn-secodary resultbtn"
            type="submit"
            value="✔ 결과보기"
            onclick="getResult()"
          />
        </div>
      </form>
      <div id="calResult"></div>

      <div id="levelDescription">
        <table class="type06">
          <tr id="noneTb">
            <th id="noneTh" scope="row">활동이 거의 없음</th>
            <td>집에서 활동하는 사람</td>
          </tr>
          <tr id="lowTb">
            <th id="lowTh" scope="row" class="even">낮은 활동성</th>
            <td class="even">의자에 앉아서 근무하며 운동을 하지않는 사람</td>
          </tr>
          <tr id="mediumTb">
            <th id="mediumTh" scope="row">활동적</th>
            <td>매일 운동을 1시간 이상씩 하며 활동적인 사람</td>
          </tr>
          <tr id="highTb">
            <th id="highTh" scope="row" class="even">매우 활동적</th>
            <td class="even">
              육체노동직장이나 매일 2시간이상씩 운동하는 사람
            </td>
          </tr>
        </table>
      </div>
      <button
        id="recommendBtn"
        class="btn btn-primary recommendbtn"
        type="button"
        onclick="getDiet()"
      >
        🥄 식단추천받기
      </button>
	</div>
      <!-- import footer -->
  <footer th:replace="layout/fragment :: fr_footer"></footer>
  <!-- end of import footer -->
      
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/js/cal.js"></script>
   	<script>
   		$(document).ready(function(){
   			$('#age' ).append( '<option></option>' );
   			for ( var i = 10; i < 101; i++ ) {
   				$( '#age' ).append( '<option value="'+i+'">' + i + ' 세</option>' );
   			}
   		});
   	</script>
  </body>
</html>
