<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8">
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
		
		<!-- Javascript -->
		<script type="text/javascript" src="/js/chatbot.js"></script>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
		<title>게시판</title>
 </head>
  <body class="boardBody">
  <article>
    <div class="boardMain">
      <div class="boardPic">
      <div id="wrapper">
      <div id="slider-wrap">
          <ul id="slider">
             <li th:each="item : ${fileList}">
      			<img th:alt="${item.fileName}" th:src="${item.imgSrc}">
       		</li>         
          </ul>
          
           <!--controls-->
          <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
          <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
          <div id="counter"></div>       
          <div id="pagination-wrap">
            <ul>
            </ul>
          </div>
          <!--controls-->  
                 
      </div>
  
   </div>
      </div>
      <div class="boardContent">
        <div class="boardAuthor">
		<form name="form" id="form" role="form" method="" action="">    
        <input type="hidden" name="bno" id="bno" th:value="${bbs.bno}">
        <input type="hidden" name="loginId" id="loginId" th:value="${#authentication.name}"/>
			<div class="detailIdPwd">
				<img th:src="${bbs.userImg}" class="profilePic" height="50px;" width="50px"/>&nbsp;&nbsp;
		         <div th:text="${bbs.userNickname}" class="authorId"> </div>
		         <div th:text="${bbs.title}" class="authorTitle"></div>
			</div>
		</form>
          <div class="detailBtns">
          	<!-- 스프링 인증객체와 게시판 작성자를 비교하여 수정 삭제 버튼을 제어한다. -->
         	<th:block th:if="${#authentication.name == bbs.writer}">
          		<button sec:authorize="isAuthenticated()" type="button" class="btn btn-sm btn-primary detailBtn" id="bbsModBtn">수정</button>
	          	<button sec:authorize="isAuthenticated()" type="button" class="btn btn-sm btn-primary detailBtn" id="delBtn">삭제</button>
         	</th:block>
          	<button type="button" class="btn btn-sm btn-primary detailBtn"  onclick="javascript:location.href='/bbs/review';">목록</button>
          </div>
        </div>
        <div class="boardCommentMain">

          <!--댓글-->
          <div class="comment">
            <div class="commentText">
            </div>
            
            <div id="commentList"></div>
			<div id="replyForm" style="display: none">
			    <input type="text" name="replyComment">
			    <button id="wrtRepBtn" class="delBtn" type="button">등록</button>
			</div>
          </div>        
        </div>
        <div class="boardContentInfo">		  
		<div class="count" name="writer" id="writer"th:text="${bbs.level}"></div>
		  <div th:text="${bbs.content}" class="authorContent"></div>
          <div th:text="${#dates.format(bbs.regDate, 'yyyy-MM-dd')}" class="day"></div>
        </div>
        <div class="boardWrite">
          <input type="text" class="boardWriteComment" id="commentDiv" name="comment" placeholder="댓글달기">
          <input sec:authorize="isAuthenticated()" type="button" id="sendBtn" class="sendMod" value="게시">
          <input sec:authorize="isAuthenticated()" type="button" id="modBtn" class="sendMod" value="수정">
        </div>
      </div>
    </div> 
    </article>
</body>
	<script type="text/javascript">

	let showList = function(bno) {
	    $.ajax({
	        type: 'GET',       // 요청 메서드
	        url: '/comments?bno='+ bno,  // 요청 URI
	        success: function (result) {
	            $('#commentList').html(toHtml(result));
	        },
	        error: function () {
	            alert("error")
	        } // 에러가 발생했을 때, 호출될 함수
	    });
	}// $.ajax()	
	
	$(document).ready(function() {
		
		let bno = $('#bno').val();
		
		showList(bno);

		
	    $("#modBtn").click(function(){
	        let comment = $("input[name=comment]").val();
	        let cno = $(this).attr("data-cno");

	        if(comment.trim()==''){
	            alert("댓글을 입력해주세요.");
	            $("imput[name=comment]").focus()
	            return;
	        }
	        $.ajax({
	            type:'PATCH',       // 요청 메서드
	            url: '/comments/' +cno,  // 요청 URI
	            headers : { "content-type": "application/json"}, // 요청 헤더
	            data : JSON.stringify({cno:cno, comment:comment}),  // 서버로 전송할 데이터. stringify()로 직렬화 필요.
	            success : function(result){
	                alert(result);
	                showList(bno);
	            },
	            error   : function(){ alert("error") } // 에러가 발생했을 때, 호출될 함수
	        }); // $.ajax()
	    });
	    
	    
	     $("#wrtRepBtn").click(function(){
	            let comment = $("input[name=replyComment]").val();
	            let pcno = $("#replyForm").parent().attr("data-pcno");

	            if(comment.trim()==''){
	                alert("댓글을 입력해주세요.");
	                $("imput[name=comment]").focus()
	                return;
	            }
	            $.ajax({
	                type:'POST',       // 요청 메서드
	                url: '/comments?bno=' +bno,  // 요청 URI
	                headers : { "content-type": "application/json"}, // 요청 헤더
	                data : JSON.stringify({pcno:pcno, bno:bno, comment:comment}),  // 서버로 전송할 데이터. stringify()로 직렬화 필요.
	                success : function(result){
	                    alert(result);
	                    showList(bno);
	                },
	                error   : function(){ alert("error") } // 에러가 발생했을 때, 호출될 함수
	            }); // $.ajax()

	            $("#replyForm").css("display", "none")
	            $("input[name=replyComment]").val('')
	            $("#replyForm").appendTo("body");
	        });

	        $("#sendBtn").click(function(){
	            let cno = $(this).attr("data-cno");
	            let comment = $("input[name=comment]").val();

	            if(comment.trim()==''){
	                alert("댓글을 입력해주세요.");
	                $("imput[name=comment]").focus()
	            return;
	        }
	            $.ajax({
	                type:'POST',       // 요청 메서드
	                url: '/comments?bno=' +bno,  // 요청 URI
	                headers : { "content-type": "application/json"}, // 요청 헤더
	                data : JSON.stringify({bno:bno, comment:comment}),  // 서버로 전송할 데이터. stringify()로 직렬화 필요.
	                success : function(result){
	                    alert(result);
	                    showList(bno);
	                },
	                error   : function(){ alert("error") } // 에러가 발생했을 때, 호출될 함수
	            }); // $.ajax()
	        });

	        $("#commentList").on("click", ".modBtn",function() {
	            let cno = $(this).parent().attr("data-cno");
	            let comment = $("span.comment", $(this).parent()).text();

	            $("input[name=comment]").val(comment);
	            $("#modBtn").attr("data-cno", cno);
	            $("#commentDiv").focus();
	            
	        });

	        $("#commentList").on("click", ".replyBtn",function(){
	            $("#replyForm").appendTo($(this).parent());
	            $("#replyForm").css("display","block");
	        });
	        $("#commentList").on("click", ".delBtn",function(){
	            let cno = $(this).parent().attr("data-cno");
	            let bno = $(this).parent().attr("data-bno");
	            $.ajax({
	                type: 'DELETE',       // 요청 메서드
	                url: '/comments/' + cno + '?bno=' + bno,  // 요청 URI
	                success: function (result) {
	                    alert(result)
	                    showList(bno);
	                },
	                error: function () {
	                    alert("error")
	                } // 에러가 발생했을 때, 호출될 함수
	            });
	        });    
		
			//게시판 수정버튼
            $("#bbsModBtn").on("click", function(){
            	location.href = "/bbs/write?bno="+$('#bno').val();
            });

			//게시판 삭제버튼
            $("#delBtn").on("click", function(){
                let form = $("#form");
                form.attr("action", "/bbs/deleteBbs");
                form.attr("method", "post");
             	form.submit();
            });
			
		});
	
	let toHtml = function (comments){
	    let tmp = "<ul>";

	    Array.from(comments).forEach(function (comment){
		    tmp += '<li data-cno=' + comment.cno
		    tmp += ' data-pcno=' + comment.pcno
		    tmp += ' data-bno=' + comment.bno + '>'
		if(comment.cno != comment.pcno)
		    tmp += 'ㄴ'
		    tmp += ' <span class="commentAuthor">' + comment.userNickname +'</span>'
		    tmp += ' <span class="commentSubtance">' + comment.comment +'</span>'
		    if($('#loginId').val() == comment.commenter){
		    	tmp += '<button class= "delBtn">삭제</button>'
		    	tmp += '<button class= "modBtn">수정</button>'
		    }
		    tmp += '<button class= "replyBtn">답글</button>'
		    tmp += '</li>'
	})
	return tmp + "</ul>";
	    }

	</script>
	<script type="text/javascript">
	//current position
	var pos = 0;
	//number of slides
	var totalSlides = $('#slider-wrap ul li').length;
	//get the slide width
	var sliderWidth = $('#slider-wrap').width();


	$(document).ready(function(){
	  
	  
	  /*****************
	   BUILD THE SLIDER
	  *****************/
	  //set width to be 'x' times the number of slides
	  $('#slider-wrap ul#slider').width(sliderWidth*totalSlides);
	  
	    //next slide  
	  $('#next').click(function(){
	    slideRight();
	  });
	  
	  //previous slide
	  $('#previous').click(function(){
	    slideLeft();
	  });
	  
	  
	  
	  /*************************
	   //*> OPTIONAL SETTINGS
	  ************************/
	  //automatic slider
	  var autoSlider = setInterval(slideRight, 3000);
	  
	  //for each slide 
	  $.each($('#slider-wrap ul li'), function() { 

	     //create a pagination
	     var li = document.createElement('li');
	     $('#pagination-wrap ul').append(li);    
	  });
	  
	  //counter
	  countSlides();
	  
	  //pagination
	  pagination();
	  
	  //hide/show controls/btns when hover
	  //pause automatic slide when hover
	  $('#slider-wrap').hover(
	    function(){ $(this).addClass('active'); clearInterval(autoSlider); }, 
	    function(){ $(this).removeClass('active'); autoSlider = setInterval(slideRight, 3000); }
	  );
	  
	  

	});//DOCUMENT READY
	  


	/***********
	 SLIDE LEFT
	************/
	function slideLeft(){
	  pos--;
	  if(pos==-1){ pos = totalSlides-1; }
	  $('#slider-wrap ul#slider').css('left', -(sliderWidth*pos));  
	  
	  //*> optional
	  countSlides();
	  pagination();
	}


	/************
	 SLIDE RIGHT
	*************/
	function slideRight(){
	  pos++;
	  if(pos==totalSlides){ pos = 0; }
	  $('#slider-wrap ul#slider').css('left', -(sliderWidth*pos)); 
	  
	  //*> optional 
	  countSlides();
	  pagination();
	}



	  
	/************************
	 //*> OPTIONAL SETTINGS
	************************/
	function countSlides(){
	  $('#counter').html(pos+1 + ' / ' + totalSlides);
	}

	function pagination(){
	  $('#pagination-wrap ul li').removeClass('active');
	  $('#pagination-wrap ul li:eq('+pos+')').addClass('active');
	}</script>
  </html>