<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
      <title>내가 보고, 먹고, 만든 | 골라</title>
      <style>
         body {
           padding-top: 70px;
           padding-bottom: 30px;
         }
		.custom-file-input ~ 
		.custom-file-label::after {
		    content: "사진찾기";
		}
      </style>
   </head>
   <body>
      <article>
         <div class="container" role="main">
            <h2>글쓰기</h2>
            <form name="form" id="form" role="form" method="post" action="" enctype="multipart/form-data">
               <input type="hidden" name="bno" id="bno" />
               <input type="hidden" name="deleteFilesNo[]"/>
               <div class="mb-3">
               <div class="mb-3">
                  <label for="reg_id">작성자</label>
                  <input type="text" class="form-control" name="writer" id="writer" placeholder="이름을 입력해 주세요" th:value="${#authentication.name}" readonly>
               </div>
                  <label for="title">제목</label>
                  <input type="text" class="form-control" name="title" id="title" maxlength="14" placeholder="제목을 14자 이하로 입력해주세요.">
               </div>
             	<div class="mb-3">
              		<label for="content">내용</label>
                  	<textarea class="form-control" rows="10" name="content" id="content" placeholder="내용을 입력해 주세요."></textarea>
             	</div>  
				<div class="mb-3">
					<label for="tag">난이도</label>
			  		<select class="form-control" id="level"  name="level">
				    	<option value="상" selected>상</option>
				    	<option value="중">중</option>
				    	<option value="하">하</option>
				  	</select>
				</div>
				<div class="mb-3"	id="upFIleDiv1">
					  	<label>사진</label><label th:style="@{font-size: 14px; color: blue;}">&nbsp;&nbsp; 1장 이상의 사진 업로드는 필수입니다.</label>
					<div class="custom-file">
					  	<input type="file" class="custom-file-input"	name="upFile" >
					  	<label class="custom-file-label" for="customFileLang" id="upFileTxt1">사진업로드</label>
				  	</div>
				</div>
				<div class="mb-3"	id="upFIleDiv2">
					<div class="custom-file">
					  	<input type="file" class="custom-file-input"	name="upFile" >
					  	<label class="custom-file-label" for="customFileLang" id="upFileTxt2">사진업로드</label>
				  	</div>
				</div>
				<div class="mb-3"	id="upFIleDiv3">
					<div class="custom-file">
					  	<input type="file" class="custom-file-input"	name="upFile" >
					  	<label class="custom-file-label" for="customFileLang" id="upFileTxt3">사진업로드</label>
				  	</div>
				</div>
            </form>
            <div >
               <button type="button" class="btn btn-sm btn-primary" id="writeBtn">저장</button>
               <a href="javascript:history.back();"><button type="button" class="btn btn-sm btn-primary">취소</button></a>
            </div>
         </div>
         <th:block th:if="${bbs != null && bbs != ''}">
             <input type="hidden" id="getBno" th:value="${bbs.bno}"/>
             <input type="hidden" id="getTitle" th:value="${bbs.title}"/>
             <input type="hidden" id="getContent" th:value="${bbs.content}"/>
             <input type="hidden" id="getLevel" th:value="${bbs.level}"/>
         </th:block>
      </article>
   </body>

	 <script th:inline="javascript">
		
	 	//컨트롤러에서 받은 타임리프 값을 javascript 변수에 넣는다.
	    let fileList = [[${fileList}]];
	 	console.log(fileList);
	    
		if(fileList != null){
			fileList.forEach(function(v,i){
				let cnt = i+1;
				$('#upFileTxt'+cnt).text(v.fileName);
				$('#upFIleDiv'+cnt).append('<button type="button" class="btn btn-sm btn-warning" id="deleteFileBtn'+cnt+'" onclick="javascript:fnDeleteFile('+v.fno+','+cnt+');">파일삭제</button>');
			});		
		}
		
	 	//파일삭제할 파일번호를 담는 배열
		let deleteFiles = [];
		
		//파일삭제버튼
		let fnDeleteFile = function(fno, cnt){
			deleteFiles.push(fno);
			$('#deleteFileBtn'+cnt).remove();
			$('#upFileTxt'+cnt).text("사진업로드");
			//선택한 삭제파일만큼 배열에 누적시킨다. 
			$("input[name='deleteFilesNo[]']").val(deleteFiles);
		}
	 
		//사진업로드 체인지 이벤트
		$("input[name=upFile]").on('change',function(){

			var ext = $(this).val().split('.').pop().toLowerCase();
     		if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
	 			alert('gif, png, jpg, jpeg 파일만 업로드 할수 있습니다.');
		 		return;
      		}
			
			//수정페이지일때 파일삭제버튼이 달려있다면 먼저 삭제후 재등록 해야한다.
			if($(this).parent('.custom-file').next().text() == "파일삭제"){
				alert("기존파일을 먼저 삭제해주세요.");
				return false;
			}
	    	//get the file name
			var fileValue = $(this).val().split("\\");
			var fileName = fileValue[fileValue.length-1]; // 파일명
			console.log('fileName : '+fileName);
	   		//replace the "Choose a file" label
	  		$(this).next('.custom-file-label').html(fileName);
		})   
		
		$(document).ready(function() {
	   		
			/* 수정모드일시 값 셋팅 */
			if($.trim($('#getBno').val()) != ""){
	        	$('#bno').val($('#getBno').val());
	      	}
	       	if($.trim($('#getTitle').val()) != ""){
	       		$('#title').val($('#getTitle').val());
	      	}
	      	if($.trim($('#getContent').val()) != ""){
	        	$('#content').text($('#getContent').val());
	      	}
	      	if($.trim($('#getLevel').val()) != ""){
				$('#level').val($('#getLevel').val());
			}
	      	
	        //게시판 저장버튼
	       	$("#writeBtn").on("click", function(){
	       		let flag = false;
				$("[id^='upFileTxt']").each(function( i , e ){
					if( $(this).text() != "사진업로드" ) {
						flag = true;
					}
	          	});
				if(!flag){
					alert("최소 1장의 사진업로드를 해주세요.");
					return false;
				}

	      		let form = $("#form");
	          	//게시판번호가 있으면 기존수정모드 없으면 신규글쓰기모드.
	         	$('#bno').val() != "" ?   form.attr("action", "/review/update") :   form.attr("action", "/review/insert")
          		form.attr("method", "post");
                //게시판 유효성 체크
                if(formCheck()){
                   form.submit();
                }
                
	       	});
         
   		});
	      
      	//게시판 입력폼 체크
        let formCheck = function() {
            let form = document.getElementById("form");
            if(form.title.value=="") {
                alert("제목을 입력해 주세요.");
                form.title.focus();
                return false;
            }
            if(form.content.value=="") {
                alert("내용을 입력해 주세요.");
                form.content.focus();
                return false;
            }
            
            return true;
        }
	   </script>
</html>