<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
      <title>엄지혜 게시판</title>
      <style>
         body {
           padding-top: 70px;
           padding-bottom: 30px;
         }
      </style>
   </head>
   <body>
      <article>
         <div class="container" role="main">
            <h2>글쓰기</h2>
            <form name="form" id="form" role="form" method="post" action="">
               <input type="hidden" name="bno" id="bno"   >
               <div class="mb-3">
                  <label for="title">제목</label>
                  <input type="text" class="form-control" name="title" id="title" placeholder="제목을 입력해 주세요">
               </div>
 
               <div class="mb-3">
                  <label for="reg_id">작성자</label>
                  <!-- 로그인기능 오류로 임시 강제값 지정 -->
                  <input type="text" class="form-control" name="writer" id="writer" placeholder="이름을 입력해 주세요" value="UJH" readonly> 
               </div>
 
               <div class="mb-3">
                  <label for="content">내용</label>
                  <textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요"></textarea>
               </div>
<!--  
               <div class="mb-3">
                  <label for="tag">TAG</label>
                  <input type="text" class="form-control" name="tag" id="tag" placeholder="태그를 입력해 주세요">
               </div>
  -->
            </form>
            <div >
               <button type="button" class="btn btn-sm btn-primary" id="writeBtn">저장</button>
               <button type="button" class="btn btn-sm btn-primary"  onclick="javascript:location.href='/bbs/list';">목록</button>
            </div>
         </div>
         <th:block th:if="${bbs != null}">
             <input type="hidden" id="getBno" th:value="${bbs.bno}"/>
             <input type="hidden" id="getTitle" th:value="${bbs.title}"/>
             <input type="hidden" id="getContent" th:value="${bbs.content}"/>
         </th:block>
      </article>
   </body>

   <script type="text/javascript">
      $(document).ready(function() {
         
         if($('#getBno').val() != ""){
            $('#bno').val($('#getBno').val());
         }
         if($('#getTitle').val() != ""){
            $('#title').val($('#getTitle').val());
         }
         if($('#getContent').val() != ""){
            $('#content').text($('#getContent').val());
         }
         
         //게시판 저장버튼
            $("#writeBtn").on("click", function(){
                let form = $("#form");
            
                //게시판번호가 있으면 기존수정모드 없으면 신규글쓰기모드.
                  $('#bno').val() != "" ?   form.attr("action", "/bbs/updateBbs") :   form.attr("action", "/bbs/insertBbs")
                form.attr("method", "post");
                //게시판 유효성 체크
                if(formCheck()){
                   form.submit();
                }
           });
         
      });

      //게시판 입력폼 체크
        let formCheck = function() {
            let form = document.getElementById("form");
            if(form.title.value=="") {
                alert("제목을 입력해 주세요.");
                form.title.focus();
                return false;
            }
            if(form.content.value=="") {
                alert("내용을 입력해 주세요.");
                form.content.focus();
                return false;
            }
            return true;
        }
   </script>
</html>