<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover"
    />
    <!--CSS-->
    <link rel="stylesheet" href="/src/main/resources/static/css/styles.css" />

    <!--JavaScript-->
  </head>
  <body>
    <button type="button" id="modalBtn">회원가입</button>
    <div class="modalBackground"></div>
    <div class="modalWrap">
      <div class="modalClose"><div class="closeX">X</div></div>
      <div class="text">
        <div th:style="${'text-align: center;'}">
          <form th:action="@{/join}" method="post">
            <h2 class="join1">회원가입</h2>
            <span class="join2">(*) 표시는 필수입력 사항입니다.</span>
            <div>
              <label>* 아이디</label><br />
              <input
                type="text"
                name="userId"
                id="userId"
                maxlength="10"
                placeholder="아이디"
                autofocus
              /><br />
              <span
                th:style="${'color: red; font-size:11px;'}"
                th:text="${valid_userId}"
              ></span>
            </div>
            <br />
            <div>
              <label>* 비밀번호</label><br />
              <input
                type="password"
                name="userPwd"
                id="userPwd"
                maxlength="20"
                placeholder="비밀번호"
              /><br />
              <span
                th:style="${'color: red; font-size:11px;'}"
                th:text="${valid_userPwd}"
              ></span>
            </div>
            <br />
            <div>
              <label>* 비밀번호 확인</label><br />
              <input
                type="password"
                name="confirm"
                id="confirm"
                maxlength="20"
                placeholder="비밀번호 확인"
              /><br />
            </div>
            <br />
            <div>
              <label>* 닉네임</label><br />
              <input
                type="text"
                name="userNickname"
                id="userNickname"
                maxlength="10"
                placeholder="닉네임"
              /><br />
              <span
                th:style="${'color: red; font-size:11px;'}"
                th:text="${valid_userNicname}"
              ></span>
            </div>
            <br />
            <div>
              <label>* 이메일</label><br />
              <input
                type="text"
                name="userEmail"
                id="userEmail"
                maxlength="50"
                placeholder="이메일"
              />
              <select
                style="width: 100px; margin-right: 10px"
                name="selectEmail"
                id="selectEmail"
              >
                <option value="1">직접입력</option>
                <option value="naver.com" selected>naver.com</option>
                <option value="gmail.com">gmail.com</option>
                <option value="daum.net">daum.net</option>
              </select>
              <br />
              <span
                th:style="${'color: red; font-size:11px;'}"
                th:text="${valid_userEmail}"
              ></span>
            </div>
            <br />
            <button type="submit">회원가입</button>
            <button type="reset">초기화</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      function modalOpen() {
        document.querySelector(".modalWrap").style.display = "block";
        document.querySelector(".modalBackground").style.display = "block";
      }

      // 모달 끄기
      function modalClose() {
        document.querySelector(".modalWrap").style.display = "none";
        document.querySelector(".modalBackground").style.display = "none";
      }

      //버튼 클릭리스너 달기
      document.querySelector("#modalBtn").addEventListener("click", modalOpen);
      document
        .querySelector(".modalClose")
        .addEventListener("click", modalClose);
    </script>
  </body>
</html>
