<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <link rel="stylesheet" href="/css/500.css">
  <script type="text/javascript" src="/js/click_disable.js"></script>
  <script type="text/javascript" src="/js/developer_tools.js"></script>

</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

  <div class="error-500" data-text="500 ERROR ! 서비스 이용에 불편을 드려 죄송합니다.">
    <spaguetti>
      <fork></fork>
      <meat></meat>
      <pasta></pasta>
      <plate></plate>
    </spaguetti>
  </div>

  <script type="text/javascript" src="/js/500.js"></script>

</body>

</html>