<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
<title>Insert title here</title>

	<!-- CSS -->
    <link rel="stylesheet" href="/css/error.css" />
    
    <!-- JavaScript -->
	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
	</script>

</head>
<body>

    <div id="main">
		<div class="fof">
			<h1><a th:href="@{/}">500</a></h1><br>
			<a th:href="@{/}"><img src="/images/error.jpg"></a>
		</div>
    </div>

</body>
</html>