.boardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardMain {
    display: flex;
    width: 1200px;
    height: 700px;
}

.boardPic {
    height: inherit;
    width: 60%;
}

.boardPic img {
    height: inherit;
    width: 100%;
}

.boardContent {
    height: inherit;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: none;
    display: flex;
    flex-direction: column;
}

.boardAuthor {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 8%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.authorId {
    font-weight: 600;
}


.authorContent {
    padding: 12px;
    font-size: 13px;
}

/*댓글창 전체*/
.boardCommentMain {
    display: flex;
    flex-direction: column;
    height: 72%;
    overflow-y: scroll;
    white-space: nowrap;
}

/*댓글창 하나 요소*/
.comment {
    display: flex;
    flex-direction: column;
    padding: 25px 10px;
    white-space: normal;

}

.commentText {
    display: flex;
    flex-direction: row;
}

.commentAuthor {
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
}

.commentSubtance {
    font-size: 12px;

}

.updateDelete {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.updateDelete button {
    margin-left: 5px;
    font-size: 5px;
    background: none;
    border: none;
    color: rgba(0, 0, 255, 0.3);
}

.updateDelete button:hover {
    color: rgba(0,0,255,0.6);
}

.updateDelete button:active {
    color: #0095F6;
}

.boardContentInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15%;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 5px;
}

.like {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.day, .count {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.count {
    font-weight: 600;
    font-size: 14px;
}

.day {
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);

}

.boardWrite {
    height: 10%;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);;
}

.boardWriteComment {
    border: none;
    height: 100%;
    width: 90%;
    padding-left: 10px;
    font-size: 14px;
}


#boardSubmit {
    border: none;
    background: none;
    height: 90%;
    font-weight: 600;
    color: blue;
    opacity: 0.3;
    font-size: 14px;
}

#boardSubmit:hover {
    opacity: 0.6;  
}

#boardSubmit:active {
    color: #0095F6;
}