.calBackground {
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0px 20%;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.calMainTitle {
  margin-bottom: 20px;
}

.calMainTitle img {
	height:45px;
	width:45px;
	cursor: pointer;
}

#genderSection label {
	margin-right:10px;
}

.calbtns {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  background-color: white;
  color: black;
}

.calbtns:hover,
.calbtns:active,
.resultbtn:active {
  color: white !important;
  font-weight: bold !important;
  background-color: #0FBAD8 !important;
}

.btn-check:active + .btn-secondary,
.btn-check:checked + .btn-secondary,
.btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #0FBAD8;
  border-color: #0FBAD8;
}

#male,
#female,
#age,
#height,
#weight {
  margin-top: 7px;
}

#genderSection,
#ageSection,
#heightSection,
#weightSection,
#levelSection,
.resultBtn,
.levelDescriptionTable {
  margin-bottom: 5%;
}

#genderSection,
#ageSection,
#heightSection,
#weightSection,
#levelSection {
	width:560px;
}

.levelInnerSection {
	display: flex;
	justify-content: space-between;
}

.labels,
.genderTitle,
.levelTitle {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.genderTitle,
.levelTitle {
  margin-bottom: 7px;
}

.resultBtn {
  display: flex;
  justify-content: center;
}

.resultbtn {
  border-radius: 10px;
  height: 35px;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultbtn:hover,
.recommendbtn:hover {
  background-color: #0FBAD8;
  color: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.recommendbtn {
  background-color:white;
  border-radius: 10px;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form-check {
  margin-right: 10px;
}

table.type06 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0px 10px;
}
table.type06 th {
  width: 170px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
table.type06 td {
  width: 390px;
  padding: 10px;
  vertical-align: top;
}
table.type06 .even {
  background: #efefef;
}
