/* Logo */
.golalogo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 10px;
  height: 10px;
  z-index: 99;
}


/* login&join*/
.indexlogin {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 300px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginlogout {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 320px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginmypage {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 150px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginallusers {
  width: 180px;
  height: 20px;
  position: absolute;
  right: 120px;
  top: 130px;
  cursor: pointer;
  z-index: 100;
}

.indexloginallreview {
  width: 180px;
  height: 20px;
  position: absolute;
  right: 295px;
  top: 130px;
  cursor: pointer;
  z-index: 100;
}

.logjoinbutton {
  font-size: 16px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #fff !important;
  font-weight: bold;
}

.logjoinbuttonallusers {
  font-size: 20px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #c1c1c1 !important;
  font-weight: bold;
}

#indexbutton {
  background-color: transparent !important;
  border-color: transparent !important;
}

.logjoinbuttonallusers:hover {
  color: white !important;
}

.logjoinbutton:hover {
  color: #ed4912 !important;
  font-weight: bold;
}

.logjoinbutton.popup {
  color: #fff;
}

.logjoinbutton.popup:hover {
  color: rgb(255, 94, 0);
  font-weight: bold;
}

.indexjoin {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 130px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

/* TRIGGER*/
.indextrigger {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 70px;
  cursor: pointer;
  z-index: 100;
}

.indextrigger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.indextrigger span:nth-child(1) {
  top: 0;
}

.indextrigger span:nth-child(2) {
  top: 50%;
}

.indextrigger span:nth-child(3) {
  top: 100%;
}

.indextrigger.popup span {
  background-color: #fff;
}

.indextrigger.popup span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.indextrigger.popup span:nth-child(2) {
  opacity: 0;
}

.indextrigger.popup span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}


/* Nav Modal*/
.navmodal-gnb {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 98;
}

.modalgnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 170px;
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.modalgnb a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  font-size: 60px;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: 0.3s;
  animation: navgnb 0.3s linear;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 999;
}

.modalgnb a:hover {
  color: #ed4912 !important;
}

.modalgnb a:nth-child(1) {
  animation-delay: 0.3s;
}

.modalgnb a:nth-child(2) {
  animation-delay: 0.5s;
}

.modalgnb a:nth-child(3) {
  animation-delay: 0.7s;
}

.modalgnb a:nth-child(4) {
  animation-delay: 0.9s;
}