/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');



.gnb {
	padding:10px;
    margin-top: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    height: 10%;
    font-size: 18px;
    font-weight: bold;
    

}

.gnb a {
    /*border: 1px solid red;*/
    width: 80px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding-right: 100px;
    padding-left: 100px;
    color: #666; 
    text-decoration: none; 
    outline: none
}

.gnb a:before,
.gnb a:after {
    position: absolute;
    content: attr(data-link);
    width: 100%;
    transition: 0.3s;
}

.gnb a:before {
    top: 0;
    left: 0;
}

.gnb a:after {
    top: 100%;
    left: 0;
    color: red;
}

.gnb a:hover:before {
    top: -100%;
}

.gnb a:hover:after {
    top: 0;
}

.headertop {
    display: flex;
    margin-bottom:30px;
    text-align: center;
    justify-content: center;
    font-family: 'LeferiPoint-WhiteObliqueA';
    width:100%;
    height:170px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headerlogo {
    width: 30px;
    text-align: center;
    margin: 10px 0px;
    padding-left: 100px;
    padding-right: 40px;
    justify-content: center;
    text-align: center;
}

.headernav {
    display: flex;
    flex-direction: column;
}

.gnb2 {
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-top: 30px;

}

.gnb2 button {
    display: inline-block;
    font-size: 16px;
    color: black;
    transition: 0.2s;
    padding-bottom: 10px;
    background-color:transparent;
    border : none;
}
.gnb2 li {
	display:block;
	width:930px;
}

.gnb2:hover button {
    opacity: 0.3;
}

.gnb2 button:hover {
    opacity: 1;
}

.gnb2 button:before {
    content: '\f0da';
    font-family: fontawesome;
    margin-right: 10px;
    opacity: 0;
}

.gnb2 button:hover:before {
    opacity: 1;
}

.indexmain{
	margin-top: 300px;
}