@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+KR:wght@900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'ROKAFSlabSerifBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Logo */
.golalogo {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 10px;
  height: 10px;
  z-index: 99;
}


/* login&join */
.indexlogin {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 300px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginlogout {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 280px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginmypage {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 150px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginrecipe,
.indexloginshop {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 400px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

.indexloginallusers {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 140px;
  top: 130px;
  cursor: pointer;
  z-index: 100;
}

.indexloginallreview {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 295px;
  top: 130px;
  cursor: pointer;
  z-index: 100;
}

.logjoinbutton {
  font-size: 16px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #fff !important;
  font-weight: bold;
}

.logjoinbutton2 {
  font-size: 16px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #000000 !important;
  font-weight: bold;
}

.logjoinbuttonallusers {
  font-size: 20px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #c1c1c1 !important;
  font-weight: bold;
}

.logjoinbuttonallusers2 {
  font-size: 20px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #000000 !important;
  font-weight: bold;
}

.indexbutton {
  background-color: transparent !important;
  border-color: transparent !important;
}

.logjoinbuttonallusers:hover {
  color: white !important;
}

.logjoinbutton:hover {
  color: #ed4912 !important;
  font-weight: bold;
}

.logjoinbutton2:hover {
  color: #ed4912 !important;
  font-weight: bold;
}

.logjoinbutton.popup {
  color: #fff;
}

.logjoinbutton.popup:hover {
  color: rgb(255, 94, 0);
  font-weight: bold;
}

.indexjoin {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 130px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

/* TRIGGER - recipe */
.indextrigger {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 70px;
  cursor: pointer;
  z-index: 100;
}

.indextrigger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.indextrigger span:nth-child(1) {
  top: 0;
}

.indextrigger span:nth-child(2) {
  top: 50%;
}

.indextrigger span:nth-child(3) {
  top: 100%;
}

.indextrigger.popup span {
  background-color: #fff;
}

.indextrigger.popup span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.indextrigger.popup span:nth-child(2) {
  opacity: 0;
}

.indextrigger.popup span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* TRIGGER - shop */
.indextrigger2 {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 70px;
  cursor: pointer;
  z-index: 100;
}

.indextrigger2 span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.trigger_black span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: 0.3s;
}

.indextrigger2 span:nth-child(1) {
  top: 0;
}

.indextrigger2 span:nth-child(2) {
  top: 50%;
}

.indextrigger2 span:nth-child(3) {
  top: 100%;
}

.indextrigger2.popup span {
  background-color: #fff;
}

.indextrigger2.popup span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.indextrigger2.popup span:nth-child(2) {
  opacity: 0;
}

.indextrigger2.popup span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Nav Modal - recipe */
.navmodal-gnb {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 98;
}

.modalgnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 170px;
  text-align: center;
  font-size: 50px;
  color: #fff !important;
}

.modalgnb a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  font-size: 60px;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: 0.3s;
  animation: navgnb 0.3s linear;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 999;
}

.modalgnb a:hover {
  color: #ed4912 !important;
}

.modalgnb a:nth-child(1) {
  animation-delay: 0.1s;
}

.modalgnb a:nth-child(2) {
  animation-delay: 0.2s;
}

.modalgnb a:nth-child(3) {
  animation-delay: 0.4s;
}

.modalgnb a:nth-child(4) {
  animation-delay: 0.6s;
}

/* Nav Modal - shop */
.navmodal-gnb2 {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 98;
}

.modalgnb2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 170px;
  text-align: center;
  font-size: 50px;
  color: #fff !important;
}

.modalgnb2 a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  font-size: 60px;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: 0.3s;
  animation: navgnb 0.3s linear;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 999;
}

.modalgnb2 a:hover {
  color: #ed4912 !important;
}

.modalgnb2 a:nth-child(1) {
  animation-delay: 0.1s;
}

.modalgnb2 a:nth-child(2) {
  animation-delay: 0.2s;
}

.modalgnb2 a:nth-child(3) {
  animation-delay: 0.4s;
}

.modalgnb2 a:nth-child(4) {
  animation-delay: 0.6s;
}

/* keyframes */
@keyframes navgnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes videolettershowing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes videolettershowing2 {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}