/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Nanum+Gothic&display=swap");
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*intro*/

.indexhtml, .indexbody{
	width:100%;
    height:auto;
	margin:0;
	padding:0;
	background-size: cover;
}

.introani {
  line-height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 0.9s;
  left: 0;
  right:0;
  bottom:0;
  visibility:inherit;
  box-sizing:border-box;
  overflow-y: hidden;
  white-space: nowrap;
  background-color:#f8f8f8;   
  z-index:11;
}

.loading {
  width: 8%;
  height: 16%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upline {
  flex: 30%;
  display: flex;
  font-display: row;
}


.uplineleft {
  flex: 50%;
  width: 100%;
  height: 100%;
  color: rgb(253, 114, 0);
  animation: fadein 0.5s linear forwards;
  
}

.uplineright {
  flex: 50%;
  color: rgb(110, 0, 253);
  animation: fadein 0.3s 0.2s linear forwards;
}

.bottomline {
  flex: 50%;
  display: flex;
  font-display: row;
}

.bottomlineleft {
  flex: 50%;
  color: rgb(0, 194, 253);
  animation: fadein 0.3s 0.4s linear forwards;
}

.bottomlineright {
  flex: 50%;
  color: rgb(253, 0, 55);
  animation: fadein 0.3s 0.3s linear forwards;
}

@keyframes fadein {
  0% {
    transform: scale(1)
  }

  100% {
    transform: scale(0)
  }
}

@keyframes  hideSplashScreen{
  from {
    opacity: 1;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}
/*end of intro */



.indexsection {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  color: #222;
  line-height: 1.6em;
  height: auto;
  display: grid;
  margin: 0 20%;
  text-align:center;
  justify-content:center;
}

.indexmain {
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.indexh1 {
  margin-bottom: 40px;
}

.indexmain h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: normal;
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
}

.indexmain h1:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indexmain h1 span {
  color: crimson;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}

.items div {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(54, 53, 53, 0.3);
    position: relative;
    cursor:pointer;
    width: 280px;
    height: 380px;
}

.indexmain .items div a img {
    display: block;
  	width: 280px;
 	height: 330px;
}

.items div i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    font-size: 40px;
    color: #fff;
}

.items div span {
    position: absolute;
    bottom: -40px;
    margin:auto;
    width:100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}

.indexmain .items div p {
	font-family: 'LeferiPoint-WhiteObliqueA';
	color: rgb(85, 85, 85);
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.indexmain .items div span,
.itmes div i,
.indexmain .items div, .indexmain:before {
  transition: 0.2s;
  pointer-events: all;
}

.items div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0;
}

.items div:hover:before {
    opacity: 1;
}

.items div:hover i {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.items div:hover span {
  bottom: 70px;
}

.seemorebox {
  margin-bottom: 60px;
}

.indexmain .seemore {
  border: 1px solid #000;
  height: 40px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
  margin-left: 45%;
  margin-bottom: 60px;
  margin-top: 40px;
  cursor:pointer;
  border-radius:6px;
}

.indexmain .seemore:hover {
  color: white;
  background-color: crimson;
  border: 1px solid crimson;
  font-weight :bold;
 transition: 0.1s;
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1366px) {
  .indexsection {
    height: auto;
  }

  .indexmain h1 {
    font-size: 40px;
  }

  .indexmain .items {
    grid-template-columns: repeat(2, 1fr);
 	 margin : auto;
  }

  .indexmain .seemore {
    margin-left: 39%;
  }
}

/*mobile*/
@media (max-width: 768px) {
  .indexsection {
    height: auto;
  }

  .indexmain h1 {
    font-size: 40px;
  }

  .indexmain .items {
    grid-template-columns: repeat(1, 1fr);
    margin : auto;
  }

  .indexmain .seemore {
    margin-left: 34%;
  }
}
