@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+KR:wght@900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'ROKAFSlabSerifBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSlabSerifBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeferiPoint-WhiteObliqueA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#indexbutton{
	background-color:transparent !important;
	border-color:transparent !important;
}

video::-webkit-media-controls {
  display:none !important;
}

#videogradient{
	position: absolute;
	width:33.35%;
	left:0;
	bottom: 0;
	top:0;
	background: linear-gradient(135deg, #272626, transparent) !important;
	z-index:0;
}

#indexvideo{
	position: absolute;
	width:33.35%;
	left:0;
	bottom: 0;
	top:0;
	z-index:-1
}

/* Logo */
.golalogo{
  position: absolute;
  top: 30px;
  left: 30px;
  width: 10px;
  height: 10px;
  z-index: 99;
}


/* login&join*/
.indexlogin {
  width: 100px;
  height: 20px;
  position: absolute;
  right: 300px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}
.indexloginlogout{
  width: 150px;
  height: 20px;
  position: absolute;
  right:320px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}
.indexloginmypage {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 150px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}
.indexloginallusers{
  width: 180px;
  height: 20px;
  position: absolute;
  right: 120px;
  top: 130px;
  cursor: pointer;
  z-index: 100;
}

.logjoinbutton {
  font-size: 16px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color: #fff !important;
  font-weight: bold;
}


.logjoinbuttonallusers{
  font-size:20px;
  font-family: 'LeferiPoint-WhiteObliqueA';

  color: #c1c1c1!important;
  font-weight: bold;
}

.logjoinbutton:hover {
  color: #ed4912 !important;
  font-weight: bold;
}

.logjoinbutton.popup {
  color: #fff;
}

.logjoinbutton.popup:hover {
  color: rgb(255, 94, 0);
  font-weight: bold;
}


.indexjoin {
  width: 150px;
  height: 20px;
  position: absolute;
  right: 130px;
  top: 68px;
  cursor: pointer;
  z-index: 100;
}

/* TRIGGER*/
.indextrigger {
  width: 40px;
  height: 20px;
  position: absolute;
  right: 70px;
  top: 70px;
  cursor: pointer;
  z-index: 100;
}

.indextrigger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.indextrigger span:nth-child(1) {
  top: 0;
}

.indextrigger span:nth-child(2) {
  top: 50%;
}

.indextrigger span:nth-child(3) {
  top: 100%;
}

.indextrigger.popup span {
  background-color: #fff;
}

.indextrigger.popup span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.indextrigger.popup span:nth-child(2) {
  opacity: 0;
}

.indextrigger.popup span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

/* Nav Modal*/
.navmodal-gnb {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index:98;
}

.modalgnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 170px;
  text-align: center;
  font-size: 50px;
   color: #fff;
}

.modalgnb a {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-weight: 500;
  color: #fff !important;
  font-size: 60px;
  font-weight: bold;
  display: block;
  padding: 10px;
  transition: 0.3s;
  animation: navgnb 0.3s linear;
  animation-fill-mode: both;
  opacity: 0;
  z-index:999;
}

.modalgnb a:hover {
  color: #ed4912 !important;
}

.modalgnb a:nth-child(1) {
  animation-delay: 0.5s;
}

.modalgnb a:nth-child(2) {
  animation-delay: 0.7s;
}


/* 오른쪽 하단 문구 - 소개글*/
.videoheading {
  position: absolute;
  width: 1000px;
  left: 130px;
  bottom: 120px;
  text-shadow: -0.5px 0 #000, 0 -0.5px #000,
    -0.5px 0 #000, 0 -0.5px #000 !important;
  text-shadow: 1px 1px 1px #000;
  animation: videolettershowing1 1.5s 0.4s linear;
  animation-fill-mode: both;
}

.videoheading h1 {
  font-size: 70px;
  margin: 0;
  font-family: 'ROKAFSlabSerifBold' !important;
  font-weight: 400 !important;
  line-height: 100px;
  color:#fff !important;
  line-height:115px !important;
   display: block;
   text-align:left
}

.videoheading span {
  display: block;
  color: rgb(255, 94, 0);
  font-family: 'ROKAFSlabSerifBold' !important;
  font-weight: 900;
  font-size: 120px;
  text-align:left;
}

.videoheading p {
  font-size: 23px !important;
  line-height: 1.5em !important;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color:#fff !important;
}


.btn-seemore {
  background-color: #fff;
  color: rgb(214, 86, 0);
  text-transform: uppercase;
  /* margin-left: 100px; */
  width: 175px;
  height: 45px;
  padding: 7px 7px 7px 7px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin-right: 5px;
  transition: 0.3s;
  font-weight: 600 !important;
  font-size: 20px;
}

.btn-seemore:hover {
  background-color: rgb(214, 86, 0);
  color: #fff !important;
  font-weight: 600 !important;
  border-color: rgb(214, 86, 0);
}



/* 2페이지 */

#indexvideo2{
	position: absolute;
	width:33.35%;
	left:33.34;
	bottom: 0;
	top:0;
	z-index:-1
}

/* 오른쪽 하단 문구 - 소개글*/
.videoheading2 {
  position: absolute;
  width: 840px;
  left: 43%;
  bottom: 110px;
  text-shadow: -0.5px 0 #000, 0 -0.5px #000,
    -0.5px 0 #000, 0 -0.5px #000;
  text-shadow: 1px 1px 1px #000;
  animation: videolettershowing3 1.5s 0.4s linear;
  animation-fill-mode: both;
  text-align: center;
}

.videoheading2 h1 {
  font-size: 20px;
  margin: 0;
  font-family: 'LeferiPoint-WhiteObliqueA';
  font-weight: bold;
  line-height: 120px;
}

.videoheading2 span {
  display: block;
  color: rgb(255, 94, 0);
  font-family: 'ROKAFSlabSerifBold' !important;
  font-weight: 900;
  font-size: 80px;
}

.videoheading2 p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  color:#fff;
}



/* 3페이지 */
.aboutbody{
  margin:0;
}

.section2background {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background: url(/images/aboutsection.png);
  background-size:cover; 
  left:66.68%;
  top:0;
  z-index:-1
}

.aboutus {
  position: absolute;
  width: 840px;
  left: 70%;
  top: 200px;
  font-size:50px;
  font-weight: bold;
  color:#fff;
  font-family: 'ROKAFSlabSerifBold' !important;
  text-shadow: -0.5px 0 #000, 0 -0.5px #000,
    -0.5px 0 #000, 0 -0.5px #000;
  text-shadow: 1px 1px 1px #000;
  color:#fff !important;
  text-align :left;
}

.aboutus h1 {
  color:#fff !important;
  text-align :left;
  font-size:60px;
}


.aboutus span{
  color: rgb(255, 94, 0);
  font-size:60px;
}

.aboutus h3{
	font-family:'LeferiPoint-WhiteObliqueA'
}
.aboutgallery{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top:100px;
  display: flex;
  height: 50vh;
  width:80%;
  margin : 0 auto;
}

.aboutgallery li{
  border-right: 3px solid #191919;
  flex:1;
  background: no-repeat center center;
  transition: 0.5s;
  position:relative;
  overflow: hidden;
  font-size: 18px;
}

.aboutgallery li:last-child{
  border-right:none;
}

.aboutgallery li:nth-child(1){
  background: url(/images/about/yul.png); 
  background-size:cover;
  background-position: center;
}
.aboutgallery li:nth-child(2){
  background: url(/images/about/park.png); 
  background-size:cover;
  background-position: center;
}
.aboutgallery li:nth-child(3){
  background: url(/images/about/eom.png);
  background-size:cover; 
  background-position: left;
}
.aboutgallery li:nth-child(4){
  background: url(/images/about/jeong.png);
  background-size:cover; 
  background-position: center;
}
.aboutgallery li:nth-child(5){
  background: url(/images/about/han.png);
  background-size:cover; 
  background-position: center;
}

.aboutgallery:hover li {
  flex:1;
  
}

.aboutgallery li:hover{
  flex:1.5;
  filter:grayscale(1);
  z-index: 1;
}

.gallerycontent{
  position:absolute;
  background-color: #191919;
  color:#fff;
  text-align: center;
  width:100%;
  height:430px;
  bottom: -490px;
  transition: 0.5s;
  padding: 20px;
  box-sizing: border-box;
  z-index:80;
}



.gallerycontent h2{
	color:#fff !important;
	font-weight: bold;
	z-index:80;
}

.gallerycontent span{
	color:#fff !important;
	font-weight: normal;
	font-size:20px;
	z-index:80;
}

.gallerycontent h4{
	font-weight:bold;
	display:inline-block !important;
	text-align:left
}
.gallerycontent h5{
	text-align:left;
}

.galleryicon{
	margin-top:30px;
}

.galleryicon a{
  color:#fff !important;
  padding-right: 30px;
  font-size: 28px;
  z-index:80;
}

.gallerycontent i{
  color:yellow;
  z-index:80;
}

.contenthr{
	width:80% !important;
	text-align:center;
	margin: 30px auto;
}

.aboutgallery li:hover .gallerycontent{
  bottom: 0px;
  transition-delay: 0.5s;
}

.aboutgallery li:hover .gallerycontent h2{
  z-index:80;
}


.gallerycontent:before{
  content:'';
  position:absolute;
  background-color:#191919;
  width: 100%;
  height:45px;
  left:0;
  top: -30px;
  transform: rotate(3.5deg) scale(1.3);
  z-index:30;
}





/*SINCE*/
.indexsince {
  position: absolute;
  left: 68%;
  bottom: 40px;
  color: rgba(255, 255, 255, 0.219) !important;
  text-align: center;
  animation: videolettershowing2 1.5s 0.4s linear;
  animation-fill-mode: both;
}

.indexsince em {
  display: block;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 7px;
  line-height: 45px;
  margin-bottom: -20px;

}

.indexsince span {
  font-family: 'Monoton', sans-serif;
  font-size: 30px;
}




.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 20px 20px 20px 20px;
    border-color: transparent transparent transparent #fff;
}

.fp-controlArrow.fp-next:hover{
	  border-color: transparent transparent transparent #FE5E00;
}

.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 20px 20px 20px 20px;
    border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-prev:hover{
	border-color: transparent #FE5E00 transparent transparent;
}


@keyframes navgnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes videolettershowing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes videolettershowing2 {
  0% {
    opacity: 0;
    bottom: -20px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}
