.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joinSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.joinSection span {
	width:400px;
	line-height: 2;
}

.joinSection input {
    width: 400px;
    height: 50px;
    margin: 7px 0px;
    padding-left: 10px;
    cursor: pointer;
}

.joinSection label {
    font-weight: 600;
    margin-top: 5px;
}

.joinSection label:first-child {
    margin-top: 0px;
}

.joinFooterBtn {
    background-color: black;
    border: none;
}

.joinFooterBtn:hover {
    background-color: rgba(0,0,0,0.5);
}
