@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Nanum+Gothic&display=swap");
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

.reviewsection {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    color: #222;
    line-height: 1.6em;
    height: 160vh;
    display: grid;
    justify-content: center;
    margin: 0 20%;
}
.reviewmain {
    margin: 15px;
    display: flex;
    flex-direction: column;
}
.reviewh1 {
margin-bottom: 40px;
}

.reviewmain h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    font-weight: normal;
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
}

.reviewmain h1:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: crimson;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.reviewmain h1 span {
    color: crimson;
}

.reviewmain .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
  }
  
.reviewItems {
  margin-bottom:40px;
}

  .reviewmain .items div {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(54, 53, 53, 0.3);
    position: relative;
    cursor:pointer;
  }
  
  .reviewmain .items div a img {
    width: 100%;
    display: block;
  }
  
  .reviewmain .items div i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    font-size: 40px;
    color: #fff;
  }
  
  .reviewmain .items div span {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
  }
  
  .reviewmain .items div p {
    font-family: 'SuncheonB';
    font-size: 20px;
    text-align: center;
  }
  
  .reviewmain .items div span,
  .reviewmain .items div i, .reviewmain .items div:before {
    transition: 0.2s;
    pointer-events: all;
  }
  
  .reviewmain .items div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0;
  }
  
  .reviewmain .items div:hover:before {
    opacity: 1;
  }
  
  .reviewmain .items div:hover i {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .reviewmain .items div:hover span {
    bottom: 70px;
  }
  
  .reviewmain .seemore {
    border: 1px solid #000;
    height: 40px;
    width: 120px;
    text-align: center;
    padding-top: 10px;
    margin-left: 45%;
    margin-bottom: 40px;
    margin-top: 40px;
    cursor:pointer;
  }
  
  .reviewmain .seemore:hover {
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
  }
  
  /*tablet*/
  @media (min-width: 768px) and (max-width: 1366px) {
    .reviewsection {
      height: auto;
    }
    .reviewmain h1 {
      font-size: 40px;
    }
    .reviewmain .items {
      grid-template-columns: repeat(2, 1fr);
    }
    .reviewmain .seemore {
      margin-left: 39%;
    }
  }
  
  /*mobile*/
  @media (max-width: 768px) {
    .reviewsection {
      height: auto;
    }
    .reviewmain h1 {
      font-size: 40px;
    }
    .reviewmain .items {
      grid-template-columns: repeat(1, 1fr);
    }
    .reviewmain .seemore {
      margin-left: 34%;
    }
  }

  /*paging*/
  .reviewPaging {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }

  .page-link {
    color: black;
  }
  
 .searchbar {
  width: 2000px !important;
  height: 80px;
  background-color: #000;
  text-align: center;
  padding-top: 7px;
  margin : 20px;
}

.searchbar form {
	display:block;
}

.searchbar form input {
  width: 300px;
  padding-right: 20px;
}

.searchbar form span {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 20px;
  padding-right: 10px;
}

#schBtn {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 18px;
  padding: 7px 15px;

}

#writebutton {
  width:110px;
  height:45px;
  margin-left : 60px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  border: 0.3px solid white;
  border-radius: 8px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  text-align:center;
  padding-top:8px;
}

#writebutton:hover{
   background-color: crimson;
   border: 1px solid crimson;
   font-weight:900;
}

.noresult {
	margin: 50px 10%; 
	text-align:center;
	font-family: 'LeferiPoint-WhiteObliqueA';
	font-size: 20px;
	font-weight:bold;
	color:crimson;
	
}
 