@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Nanum+Gothic&display=swap");
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

.reviewsection {
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0;
  color: #222;
  line-height: 1.6em;
  height: auto;
  display: grid;
  justify-content: center;
  margin: 100px 20%;
}
.reviewmain {
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
}


.reviewmain .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
    row-gap: 40px;
 }
  
.reviewItems {
  margin-bottom:40px;
  width:auto;
}

  .reviewmain .items div {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(54, 53, 53, 0.3);
    position: relative;
    cursor:pointer;
    width: 240px;
    height: 360px;
  }
  
  .reviewmain .items div a img {
    display: block;
  	width: 240px;
 	height: 310px;
  }
  
  .reviewmainTwo .itemsTwo div {
  	width: 280px;
    height: 380px;
  }
  
  .reviewmainTwo .itemsTwo div a img {
	display: block;
	width: 280px;
 	height: 330px;
  }
  

  
.reviewmain .items div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
  font-size: 40px;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
}
  
  .reviewmain .items div span {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
  }
  
  .reviewmain .items div p {
	font-family: 'LeferiPoint-WhiteObliqueA';
	color: rgb(85, 85, 85);
	font-weight: 600;
	font-size: 17px;
	text-align: center;
	margin-top: 20px;
  }
  
  .reviewmain .items div span,
  .reviewmain .items div i, .reviewmain .items div:before {
    transition: 0.2s;
    pointer-events: all;
  }
  
  .reviewmain .items div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    opacity: 0;
  }
  
  .reviewmain .items div:hover:before {
    opacity: 1;
  }
  
  .reviewmain .items div:hover i {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .reviewmain .items div:hover span {
   bottom: 90px;
   font-size:25px;
  }
  
 
 .searchbar {
  height: 80px;
  background-color: #000;
  padding-top: 7px;
  margin : 20px auto;
  text-align: center;
}

.searchbar form {
	display:block;
	text-align: center;
}

.searchbar form input {
  width: 300px;
  padding-right: 20px;
}

.searchbar form span {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 20px;
  padding-right: 10px;
}

#schBtn {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 18px;
  padding: 7px 15px;

}

#writebutton {
  width:110px;
  height:45px;
  margin-left : 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  font-weight:bold;
  border: 0.3px solid white;
  border-radius: 8px;
  font-family: 'LeferiPoint-WhiteObliqueA';
  text-align:center;
  padding-top:8px;
}

#writebutton:hover{
   background-color: crimson;
   border: 1px solid crimson;
   font-weight:900;
}

.noresult {
	margin: 135px; 
	text-align:center;
	font-family: 'LeferiPoint-WhiteObliqueA';
	font-size: 20px;
	font-weight:bold;
	color:crimson;
}

 /*tablet*/
  @media (min-width: 768px) and (max-width: 1366px) {
    .reviewsection {
      height: auto;
    }
    .reviewsection .reviewmain div{
      grid-template-columns: repeat(2, 1fr);
      margin : auto;
    }
    .searchbar{
      width:1366;}
  }
  
  /*mobile*/
  @media (max-width: 768px) {
    .reviewsection {
      height: auto;
    }
    .reviewmain .items {
      grid-template-columns: repeat(1, 1fr);
      margin : auto;
    }
    .reviewmain .seemore {
      margin-left: 34%;
    }
    .searchbar{
    height: 130px;
    }
  }

  /*paging*/
  .reviewPaging {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }

  .page-link {
    color: black;
  }
  


 