
.shopbody {
  /* background-image: url(/images/mypagebackground.png); */
  background-repeat: repeat;
  background-size: auto;
}

.shoptitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  color: #77b347 !important;
  display: block;
  padding-top: 60px;
}


.shoptitle a {
  color: #77b347 !important;
  display: block;
}

.shopdetailtitle {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 300px;
  height: 70px;
  color: #77b347;
  display: block;
  padding-top: 60px;
}

.shopProd {
  margin: 50px 20%;
  margin-top:180px;
}

.shopDetailTop {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid #f1f1f1;
}

.shopDetailBottom {
	text-align: center;
}

.shopItemImage {
  width: 600px;
  height: 520px;
}

.shopItemImage img {
  width: 100%;
  height: 100%;
}

.prodInfoWrap {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  width: 480px;
}

.MainTitle {
  font-size: 28px;
  font-weight: bold;
}

.subTitle {
  font-size: 16px;
  color: gray;
  margin-top: 10px;
}

.priceItem {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  padding-left: 20px;
}

.label {
  font-size: 16px;
  color: gray;
  font-weight: bold;
  margin-right: 20px;
}

.privceValue {
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
}

.prodBuyInfo {
  border-top: 1px solid #f1f1f1;
  margin-top: 15px;
}


.prodInfoIcon {
  margin: 0 10px;
  margin-right: 20px;
}

.prodDetailWrap {
  display: flex;
  flex-direction: row;
  height: 30px;
  border-bottom: 1px solid #f1f1f1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 17px;
}



.prodShipFee {
  font-weight: bold;
}

.prodBenefitFee {
  font-weight: bold;
  color: #77b347
}

.Option {
  font-weight: normal;
  font-size: 70%;
  color: black;
}

.prodOption {
  margin-bottom: 30px;

}

.selectOption {
  width: 480px;
  height: 30px;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 4px;
  font-size: 15px;
}

.btn_go_box {
  display: flex;
  height: 60px;

}

.btn_go_cart {
  width: 180px;
  height: 60px;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #77b347;
  background-color: white;
  color: #77b347;
}

.btn_go_order {
  width: 300px;
  height: 60px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  background-color: #77b347;
  border: 1px solid #77b347;
  color: white;
}

.shopdetailsectioncut{
  width: 1300px;
  height: 60px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #a3a1a1;
  border-top: 2px solid #000000;
  margin: 0 auto;
  margin-bottom: 40px;
}

.shopdetailsectioncut p{
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.optionSelect{
    display: flex;
    flex-direction: column;
    width: 480px;
<<<<<<< Updated upstream
    height :160px;
=======
    height :130px;
>>>>>>> Stashed changes
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding:20px;
    display:none;
    margin-top:40px;
	background-color : #f5f5f5;
}

.optionSelectTop{
    margin-bottom: 20px;
    font-size:15px;
    font-weight: bold;
    color:#77b347;
    
}
.optionSelectBottom{
    display: flex;
}

.optionAmount{
    margin-right: 50px;
    border-radius: 8px;
    background-color:white;
}

#numberUpDown{
	width: 80px;
    border: none;
    text-align: center;
    background-color:white;
    margin: 0px !important;
    font-size: 20px;
}

#decreaseQuantity, #increaseQuantity{
	border: none;
    font-size: 40px;
    background-color:white;
}
.optionSum{
	display :flex;
}
#optionSumprice{
    width: 200px;
    text-align: right;
    margin-right: 5px;
    font-size: 30px;
    color:#77b347;
}

#optionwon{
    top: 20px;
    position: relative;
}