.shopItem {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 400px;
}

.shopItem img {
  transition: 0.3s;
}

.shopItem:hover img {
  filter: blur(3px)
}

.shopItemDetailWrap {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
  height: 50%;
  transition: 0.3s;
  padding: 0 20px;
  box-sizing: border-box;

}

.shopItem:hover .shopItemDetailWrap {
  bottom: 0;
}

.shopItemsDetail {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.shopItemsprice {
  font-size: 16px;
  text-align: right;
  padding-top: 20px;
  font-weight: bold;
  color: black;
}

.shopItemspricetitle {
  color: red;
}

.shopItemsbuybutton {
  padding-top: 40px;
  text-align: center;

}

.buyIconLeft,
.buyIconRight {
  width: 130px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.buyIconLeft {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #fff;
  color: #77b347;
  font-weight: bold;
}

.buyIconRight {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #77b347;
  color: #fff;
  font-weight: bold;
}


.buyIconLeft:hover {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #77b347;
  color: #fff;
  font-weight: bold;
}

.buyIconRight:hover {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #fff;
  color: #77b347;
  font-weight: bold;
}