.shopMain{

}
.shopItem {
  margin : 0 20%;
  margin-top:200px;
  justify-content:center;
  overflow: hidden;
  position: relative;
  width: 280px;
  height: 280px;
  border : 1px solid none;
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
}

.shopItemimg {
  transition: 0.3s;
  border : 1px solid #f5f5f5;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.shopItemimg:hover  {
  filter: blur(3px);
}

.shopItemDetailWrap {
  background-color: #ffffffbf;
  position: absolute;
  width: 100%;
  bottom: -65px;
  left: 0;
  height: 55%;
  transition: 0.3s;
  padding: 0 10px;
  box-sizing: border-box;
  border : 1px solid #f5f5f5;

}

.shopItem:hover .shopItemDetailWrap {
  bottom: 0;
  background-color: #fff;
}
.shopItem:hover .shopItemimg {
  filter: blur(3px);
}

.shopItemsDetail {
  font-size: 14px;
  padding-top: 20px;
  font-weight:bold;
}

.shopItemsprice {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  color: #77b347;
}

.shopItemspricewon {
  font-size: 12px;
  text-align: left;
  padding-top: 5px;
  font-weight: bold;
  color:#bfbbbb;
}


.shopItemspricetitle {
  color: red;
}

.shopItemsbuybutton {
  padding-top: 5px;
  text-align: center;
  display : flex;
  justify-content: center;
}
.buyIconLeft{
  margin-right: 20px;
}

.buyIconLeft, .buyIconRight {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #fff;
  font-weight: bold;
  width: 100px;
  height: 40px;

  cursor: pointer;
}

.buyIconLeft a, .buyIconRight a {
  color: #77b347 !important;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7px;
}

.buyIconLeft a:hover, .buyIconRight a:hover {
  color: #fff !important;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 7px;
}

.buyIconLeft:hover, .buyIconRight:hover {
  border: 1px solid #77b347;
  border-radius: 6px;
  background-color: #77b347;
  color: #fff;
  font-weight: bold;
}
