@import "reset.css";
@import "review.css";
@import "footer.css";
@import "header.css";
@import "index.css";
@import "join.css";
@import "mypage.css";
@import "login.css";
@import "detail.css";
@import "error.css";
@import "nick.css";
@import "teamgola.css";
@import "recipe_detail.css";
@import "floating.css";
@import "timer.css";
@import "write.css";
@import "list.css";


/* scroll style */
*::-webkit-scrollbar {
   width: 15px;
 }
*::-webkit-scrollbar-thumb {
   background-color: #b8b8b8;
   border-radius: 10px;
   background-clip: padding-box;
   border: 2px solid transparent;
 }
*::-webkit-scrollbar-track {
   background-color: none;
   border-radius: 10px;
   box-shadow: inset 0px 0px 5px white;
 }
/*end of scroll style*/