<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
<title>Insert title here</title>

	<!-- CSS -->
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    
    <!-- JavaScript -->
	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

</head>
<body>

    <div>
    	<div style="color: black; font-size: 16px;">
    	<table border="1">
    		
    	</table>
    </div>
    </div>
    

</body>
</html>