<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
<meta property="og:title" content="냉장고안의 남은 재료들로 | 골라">
<!-- <meta property="og:image" content=""> -->
<meta property="og:description" content="냉장고안의 남은 재료들로 레시피 추천 !">
<meta property="og:type" content="website">
<title>냉장고안의 남은 재료들로 | 골라</title>

	<!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    
    <!-- JavaScript -->
    <script type="text/javascript" src="/js/chatbot.js"></script>
	<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
	</script>

</head>
<body>

	<!-- import header -->
    <div th:replace="fragment/fragment :: fr_header"></div>
    <!-- end of import header -->
	
	<div>
    	<h1>냉장고안의 남은 재료들로 | 골라!</h1>
    </div>
    
    <!-- import footer -->
    <div th:replace="fragment/fragment :: fr_footer"></div>
    <!-- end of import footer -->

</body>
</html>