<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- basic -->
<th:block th:fragment="style_styles">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<link rel="stylesheet" href="/css/join.css" />
	<link rel="stylesheet" href="/css/scroll.css" />
</th:block>

<!-- index -->
<th:block th:fragment="style_index">
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/mypage.css" />
	<link rel="stylesheet" href="/css/leave.css" />
	<link rel="stylesheet" href="/css/teamgola.css" />
</th:block>

<!-- admin -->
<th:block th:fragment="style_admin">
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/admin.css" />
</th:block>

<!-- recipe&cal -->
<th:block th:fragment="style_recipe">
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/list.css" />
	<link rel="stylesheet" href="/css/recipe_detail.css" />
	<link rel="stylesheet" href="/css/review.css" />
	<link rel="stylesheet" href="/css/timer.css" />
	<link rel="stylesheet" href="/css/floating.css" />
	<link rel="stylesheet" href="/css/write.css" />
	<link rel="stylesheet" href="/css/cal.css" />
	<link rel="stylesheet" href="/css/diet.css" />
</th:block>

<!-- shop -->
<th:block th:fragment="style_shop">
	<link rel="stylesheet" href="/css/shopitems.css" />
	<link rel="stylesheet" href="/css/shopdetail.css" />
	<link rel="stylesheet" href="/css/cart.css" />
	<link rel="stylesheet" href="/css/order.css" />
	<link rel="stylesheet" href="/css/cartbanner.css" />
</th:block>

</html>