<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
  <meta property="og:title" content="우리들의 모든 레시피 | 골라">
  <meta property="og:description" content="우리들의 모든 레시피, 골라">
  <meta property="og:type" content="website">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" sizes="16x16">
  <!-- title -->
  <title>주문서작성 및 결제 | 골라</title>

  <!-- CSS -->
  <th:block th:replace="style :: style_bootstrap" />
  <th:block th:replace="style :: style_styles" />
  <th:block th:replace="style :: style_shop" />
  <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/c21d7630fc.js" crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script type="text/javascript" src="/js/chatbot.js"></script>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.8.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="resources/js/sweetalert.min.js"></script>
  <!-- <script type="text/javascript" src="/js/click_disable.js"></script>
  <script type="text/javascript" src="/js/developer_tools.js"></script> -->
  <!-- Featherlight.js -->
  <script src="/js/featherlight.js"></script>
  <link rel="stylesheet" href="/css/featherlight.css">

</head>
    
<body class="orderbody">

	<script type="text/javascript">
		function setOrderMemo(id){
	        if(id) {
	            var txt = $("#"+id).text();
	            $("#orderMemo").val(txt);
	        }
	        $("#setOrderMemo").hide();
	    }
	
	    function doOpenAgree(id){
	        $("#"+id+"Head .D_open").remove();
	        $("#"+id+"Head").append('<a href="javascript:doCloseAgree(\''+id+'\')" class="D_close">닫기</a>');
	        $("#"+id+"Body").show();
	    }
	
	    function doCloseAgree(id){
	        $("#"+id+"Head .D_close").remove();
	        $("#"+id+"Head").append('<a href="javascript:doOpenAgree(\''+id+'\')" class="D_open">열기</a>');
	        $("#"+id+"Body").hide();
	    }
	
	    $(function(){
	        $("#orderMemo").on('click', function() {
	            $("#setOrderMemo").toggle();
	        });
	
	        $("#orderMemo").on("propertychange change keyup paste input", function() {
	            $("#setOrderMemo").hide();
	        });
	
	        $("#duplcateBtn").on('click', function() {
	            $("#orderName").val($("#receiverName").val());
	            $("#phoneNum").val($("#receiverPhone").val());
	            $("#mobileNum").val($("#receiverCellPhone").val());
	        });
	    });
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {

			$("#order_result_payment").click(function() {
				if(confirm("결제 후 취소가 불가능 합니다. \n결제 하시겠습니까?")){
					
				}
				//payment();
			})
		})
		
		function payment(data) {
			var now = new Date();
			var nowTime = now.getFullYear() + (now.getMonth()+1) + now.getDate() + now.getHours() + now.getMinutes();
			var tmp = 1;
			
			IMP.init('imp42851205');
			IMP.request_pay({
				pg: "inicis",
				pay_method: "card",
				merchant_uid: nowTime + "-" + tmp,
				name: "사과2",
				amount: 100,
				buyer_email: "test@naver.com",
				buyer_name: "홍길동",
				buyer_tel: "01011112222"
			}, function (rsp) { // callback
			      if (rsp.success) {
			          location.href = "/order/result";
			      } else {
			    	  var msg = '결제에 실패하였습니다.';
			          var msg2 = '에러내용 : ' + rsp.error_msg;
			          swal(msg, msg2, "error");
			      }
			})
		}
	</script>

	<!-- import header -->
	<header th:replace="layout/fragment2 :: fr_header"></header>
	<!-- end of import header -->
	
	<!-- import leftbanner -->
	<nav th:replace="layout/cartbanner :: fr_leftbanner2"></nav>
	<!-- end of import leftbanner -->
	
	<!-- center title -->
	<div>
		<span class="ordertitle">ORDER</span>
	</div>
	<form name="form" id="form" role="form" method="post" action="/order/insertOrder" >		
	<div class="order_content">
		<!-- 주문서작성/결제 타이틀 시작 -->
	    <div class="order_title">
	        <h2>주문서작성/결제</h2>
	        <ul>
	            <li><span>01</span> 장바구니 <span><img src="/images/shop/icon_step_off.png" alt=""></span></li>
	            <li class="order_page_on"><span>02</span> 주문서작성/결제 <span><img src="/images/shop/icon_step_on.png" alt=""></span></li>
	            <li><span>03</span> 주문완료 </li>
	        </ul>
	    </div>
	    <!-- 주문서작성/결제 타이틀 끝 -->
	    
	    <div class="order_cont">
		    <!-- 장바구니에서 담은 상품 목록 시작 -->
		    <div class="cart_cont_list">
		    	<div class="order_cart_title">
		    		<h4>주문상세내역</h4>
		    	</div>
		    	<div class="order_table_type">
		    	
		    	
		    		<div class="order_product_on" th:if="${count != 0}">
					    <table style="width: 100%;">
					    	<colgroup>
			    				<col style="width: 39%;">
			    				<col style="width: 12%;">
			    				<col style="width: 12%;">
			    				<col style="width: 12%;">
			    				<col style="width: 12%;">
			    				<col style="width: 12%;">
			    			</colgroup>
			    			<thead>
				                <tr>
				                    <th>상품/옵션 정보</th>
				                    <th>수량</th>
				                    <th>상품금액</th>
				                    <th>할인/적립</th>
				                    <th>합계금액</th>
				                    <th>배송비</th>
				                </tr>
				            </thead>
				            <tbody>
				            	<tr th:each="list,stat : ${list}">
					            	<td>
					            		<span class="order_product_on_pimage"><img th:src="${list.ProductDTO.pImage}"></span>
				            			<span th:text="${list.ProductDTO.pName}" class="order_product_on_pname"></span>
					            	</td>
					            	<td>
					            		<span th:text="${list.camount}"></span>개
					            	</td>
					            	<td>					
					            		<span th:text="${#numbers.formatInteger(list.ProductDTO.pPrice, 0, 'COMMA')}"></span>원
					            	</td>
					            	<td>
					            		<img src="/images/shop/icon_mileage.gif">
					            		<span th:style="@{font-size:14px;}">적립
					            			<span th:text="${#numbers.formatInteger((list.ProductDTO.pPoints * list.camount), 0, 'COMMA')}" th:style="@{font-size:16px;}"></span>원
					            		</span>
					            	</td>
					            	<td>
					            		<span th:text="${#numbers.formatInteger(list.ProductDTO.pPrice * list.camount, 0, 'COMMA')}"></span>원
					            	</td>
					            	<td th:rowspan="${count}" th:id="|free${stat.count}|">
					            		<span th:text="${#numbers.formatInteger(fee, 0, 'COMMA')}" th:class="|itemdelivery${stat.count}|"></span>원<br>
					            		<span></span>
					            		<span th:style="@{color:gray;font-size:14px;}">30,000원 이상<br>무료배송</span>
					            	</td>
				            	</tr>
				        	</tbody>
					    </table>
					</div>
		    	</div>
		    </div>
		    <!-- 장바구니에서 담은 상품 목록 끝 -->
		    
		    <!-- 배송정보 시작 -->
		    <div class="order_view_info">
		    	<div class="order_zone_title">
		    		<h4>배송정보</h4>
		    	</div>
			    	<!-- 수령인 입력 테이블 시작 -->
			    	<div class="order_table_type">
			    		<table class="table_left">
			    			<colgroup>
			    				<col style="width: 15%;">
			    				<col style="width: 85%;">
			    			</colgroup>
			    			<tbody>
			    				<tr>
			    					<th scope="row">배송지 확인</th>
			    					<td>
			    						<div class="form_element">
			    							<ul>
			    								<li>
			    									<input type="radio" name="shipping" id="basic_shipping" checked="checked">
			    									<label for="basic_shipping">기본 배송지</label>
			    								</li>
			    							</ul>
			    							<span class="gray_list_btn"><a href="#" class="gray_small_btn" >배송지관리</a></span>
			    						</div>
			    					</td>
			    				</tr>
			    				<!-- 받으실분 -->
			    				<tr>
			    					<th scope="row"><span class="important">받으실분</span></th>
			    					<td><input type="text" id="oName" name="oName" maxlength="20"></td>
			    				</tr>
			    				<!-- 받으실 곳 -->
			    				<tr>
			    					<th scope="row"><span class="important">받으실 곳</span></th>
			    					<td class="member_address">
			    						<div class="address_postcode">
				    						<input type="text" name="oZipcode" id="oZipcode" placeholder="우편번호" readonly>
				    						<input type="hidden" name="receiverZipcode">
				    						<span id="receiverZipcodeText" class="old_post_code"></span>
				    						<button type="button" class="btn_post_search" onclick="execDaumPostcode()">우편번호검색</button>
			    						</div>
			    						<div class="address_input">
				    						<input type="text" name="oAddr1" id="oAddr1" placeholder="주소" readonly>
				    						<input type="text" name="oAddr2" id="oAddr2" placeholder="상세주소">
			    						</div>
			    						<div id="wrap" class="order_kakao_postalcode">
										<img src="/images/shop/kakao_postalcode_close.png" id="btnFoldWrap" onclick="foldDaumPostcode()" alt="close">
										</div>
			    					</td>
			    				</tr>
			    				<!-- 전화번호 -->
			    				<tr>
			    					<th scope="row">전화번호</th>
			    					<td>
			    						<input type="text" id="receiverPhone" name="receiverPhone">
			    					</td>
			    				</tr>
			    				<!-- 휴대폰 번호 -->
			    				<tr>
			    					<th scope="row"><span class="important">휴대폰 번호</span></th>
			    					<td>
			    						<input type="text" id="receiverCellPhone" name="receiverCellPhone">
			    					</td>
			    				</tr>
			    				<!-- 배송 요청사항 -->
			    				<tr>
			    					<th scope="row"><span class="important">배송 시 요청사항</span></th>
			    					<td class="td_last_say">
				    					<div style="position:relative;">
					    					<input type="text" id="oRequest" name="oRequest" autocomplete="off/">
					    					<div id="setOrderMemo" class="order_msg" style="display:none;">
						    					<ul>
							    					<li id="option1" onclick="setOrderMemo('option1')">배송 전에 미리 연락 부탁드려요.</li>
							    					<li id="option2" onclick="setOrderMemo('option2')">경비실에 맡겨주세요.</li>
							    					<li id="option3" onclick="setOrderMemo('option3')">부재시 경비실에 맡겨주세요.</li>
							    					<li id="option4" onclick="setOrderMemo('option4')">부재시 전화나 문자 부탁드려요.</li>
						    					 </ul>
					    					 </div>
				    					 </div>
			    					 </td>
			    				</tr>
			    			</tbody>
			    		</table>
			    	</div>
		    	<!-- 수령인 입력 테이블 끝 -->
		    </div>
		    <!-- 배송정보 끝 -->
		    
		    <!-- 우편번호 검색 카카오 API 시작 -->
			<script type="text/javascript">
			    // 우편번호 찾기 찾기 화면을 넣을 element
			    var element_wrap = document.getElementById('wrap');

			    function foldDaumPostcode() {
			        // iframe을 넣은 element를 안보이게 한다.
			        element_wrap.style.display = 'none';
			    }

			    function execDaumPostcode() {
			        // 현재 scroll 위치를 저장해놓는다.
			        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
			        new daum.Postcode({
			            oncomplete: function(data) {
			                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
			                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			                var addr = ''; // 주소 변수
			                var extraAddr = ''; // 참고항목 변수

			                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
			                    addr = data.roadAddress;
			                } else { // 사용자가 지번 주소를 선택했을 경우(J)
			                    addr = data.jibunAddress;
			                }

			                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
			                if(data.userSelectedType === 'R'){
			                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                        extraAddr += data.bname;
			                    }
			                    // 건물명이 있고, 공동주택일 경우 추가한다.
			                    if(data.buildingName !== '' && data.apartment === 'Y'){
			                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			                    }
			                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
			                    if(extraAddr !== ''){
			                        extraAddr = ' (' + extraAddr + ')';
			                    }
			                    // 조합된 참고항목을 해당 필드에 넣는다.
			                    document.getElementById("oAddr1").value = extraAddr;
			                
			                } else {
			                    document.getElementById("oAddr1").value = '';
			                }

			                // 우편번호와 주소 정보를 해당 필드에 넣는다.
			                document.getElementById('oZipcode').value = data.zonecode;
			                document.getElementById("oAddr1").value = addr;
			                // 커서를 상세주소 필드로 이동한다.
			                document.getElementById("oAddr2").focus();

			                // iframe을 넣은 element를 안보이게 한다.
			                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
			                element_wrap.style.display = 'none';

			                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
			                document.body.scrollTop = currentScroll;
			            },
			            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
			            onresize : function(size) {
			                element_wrap.style.height = '470px';
			            },
			            width : '100%',
			            height : '100%'
			        }).embed(element_wrap);

			        // iframe을 넣은 element를 보이게 한다.
			        element_wrap.style.display = 'block';
			    }
			</script>
			<!-- 우편번호 검색 카카오 API 끝 -->
		    
		    <!-- 주문자 정보 시작 -->
		    <div class="order_info">
		    	<div class="order_zone_title">
		    		<h4>주문자 정보</h4>
		    	</div>
		    	<div class="order_table_type">
		    		<table class="table_left">
		    			<colgroup>
		    				<col style="width: 15%;">
		    				<col style="width: 85%;">
		    			</colgroup>
		    			<tbody>
		    				<!-- 주문하시는 분 -->
		    				<tr>
		    					<th scope="row"><span class="important">주문하시는 분</span></th>
		    					<td>
		    						<input type="text" name="orderName" id="orderName" th:value="${dto.getUserNickname()}" maxlength="20">
		    					</td>
		    				</tr>
		    				<!-- 전화번호 -->
		    				<tr>
			    				<th scope="row">전화번호</th>
			    				<td>
			    					<input type="text" id="phoneNum" name="orderPhone" value="" maxlength="20">
			    				</td>
		    				</tr>
		    				<!-- 휴대폰 번호 -->
		    				<tr>
			    				<th scope="row"><span class="important">휴대폰 번호</span></th>
			    				<td>
			    					<input type="text" id="oPhone" name="oPhone" th:value="${dto.getUserPhone()}" maxlength="20">
			    				</td>
		    				</tr>
		    				<!-- 이메일 -->
		    				<tr>
			    				<th scope="row"><span class="important">이메일</span></th>
			    				<td class="member_email">
				    				<input type="text" name="orderEmail" th:value="${dto.getUserEmail()}">
		    					</td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		    </div>
		    <!-- 주문자 정보 끝 -->
		    
		    <!-- 결제정보 시작 -->
		    <div class="payment_info">
		    	<div class="order_zone_title">
		    		<h4>결제정보</h4>
		    	</div>
		    	<div class="order_table_type">
		    		<table class="table_left">
			    		<colgroup>
			    				<col style="width: 15%;">
			    				<col style="width: 85%;">
			    		</colgroup>
			    		<tbody>
			    			<!-- 상품 합계 금액 -->
			    			<tr>
			    				<th scope="row">상품 합계 금액</th>
			    				<td>
			    					<strong id="totalGoodsPrice" class="order_payment_sum" th:text="${#numbers.formatInteger(sumMoney, 0, 'COMMA')}"></strong>원
			    				</td>
			    			</tr>
			    			<!-- 배송비 -->
			    			<tr>
			    				<th scope="row">배송비</th>
			    				<td>
				    				<span id="totalDeliveryCharge" th:text="${fee}"></span>원
				    				<span class="multi_shipping_text"></span>
			    				</td>
			    			</tr>
			    			<!-- 적립금 사용 -->
			    			<tr>
			    				<th scope="row">적립금 사용</th>
			    				<td>
				    				<div class="order_money_use">
				    					<b><input type="text" name="useMileage" onblur="gd_mileage_use_check('y', 'y', 'y', 'y');"> 원</b>
				    					<div class="form_element">
					    					<input type="checkbox" id="useMileageAll" onclick="gd_mileage_use_all();" disabled="disabled">
					    					<span class="money_use_sum">(보유 적립금 : 0 원)</span>
				    					</div>
				    					<em class="money_use_txt js-mileageInfoArea"></em>
				    				</div>
				    			</td>
			    			</tr>
			    			<!-- 예상 적립금 -->
			    			<tr style="position: relative; z-index: 1;">
			    				<th scope="row">예상 적립금<a class="mileageInfo" style="display:inline-block; vertical-align:1px; padding:5px; cursor: pointer;">
			    				<img src="/images/shop/icon_info2.png" width="18"></a>
			    				<!--적립금제도란?-->
			    				<div class="point_my_sub" style="display: none;">
				    				<a class="point_my_sub_btn" style="cursor: pointer"></a>
				    				<div class="point_my_sub_t">모든 회원 구매액의 <span>0.5%</span> 적립</div>
					    				<ul class="point_my_sub_c">
						    				<li>배송비를 제외한 <span>실 결제금액의 0.5%가 배송완료 시 적립</span>됩니다.</li>
						    				<li>주문취소/반품/환불의 경우, 사용된 적립금은 다시 환원됩니다.</li>
						    				<li>회원탈퇴/최종 적립일로부터 <span>1년 미사용 시</span>에는 적립금은 자동 소멸됩니다.</li>
						    				<li>적립금은 <span>만개의레시피 회원에 한해 적립</span>되며, 가입 이전 구매한 금액에 대해서는 적립금을 소급하지 않습니다.</li>
						    				<li>적립금은 탈퇴 후 <span>복원 및 타 계정 양도가 불가</span>합니다.</li>
						    				<li>일부 행사 상품의 경우 적립금 지급에서 제외될 수 있습니다.</li>
						    				<li>적립금 정책은 골라 운영 정책에 따라 변경될 수 있습니다.</li>
					    				</ul>
                                    </div>
                                </th>
                                <td>
                                	<span th:text="${#numbers.formatInteger(sumMoney * 0.005 + 1, 0)}"></span>원
                                </td>
                            </tr>
                            <!-- 최종 결제 금액 -->
                            <tr>
                            	<th scope="row">최종 결제 금액</th>
                            	<td>
	                            	<input type="hidden" name="settlePrice" value="">
	                            	<input type="hidden" name="overseasSettlePrice" value="0">
	                            	<input type="hidden" name="overseasSettleCurrency" value="KRW">
	                            	<strong id="totalSettlePrice" class="order_payment_sum" th:text="${#numbers.formatInteger(allSum, 0, 'COMMA')}"></strong>원
                            	</td>
                            </tr>
			    		</tbody>
			    	</table>
		    	</div>
		    </div>
		    <!-- 결제정보 끝 -->
		    
		    <!-- 결제수단 선택/결제 시작 -->
		    <div class="payment_progress">
		   		<div class="order_zone_title">
			   		<h4>결제수단 선택 / 결제</h4>
			   		<p class="js_pay_content">※ 고객님은 안전거래를 위해 현금으로 결제시 저희 쇼핑몰에서 가입한 구매안전서비스인 KG 이니시스의 구매안전(에스크로)서비스를 이용하실 수 있습니다.</p>
		   		</div>
		   		<div class="js_pay_content">
		   			<dl>
		   				<dt></dt>
		   				<dd>
		   					<div class="form_element">
		   						<ul class="order_zone_btn">
		   							<li>
		   								<div class="ezhldSettleDiv" id="ezhld_settle_pc" onclick="ezhld_settlekind_toggle_check('pc')">
		   									<img src="/images/shop/btn_pay1_off.png" id="ezhld_img_settle_pc_check">
		   								</div>
		   							</li>
		   							<li>
		   								<div class="ezhldSettleDiv" id="ezhld_settle_pv" onclick="ezhld_settlekind_toggle_check('pv')">
			   								<img src="/images/shop/btn_pay4_off.png" id="ezhld_img_settle_pv_check">
			   							</div>
		   							</li>
		   							<li>
			   							<div class="ezhldSettleDiv" id="ezhld_settle_pk" onclick="ezhld_settlekind_toggle_check('pk')">
			   								<img src="/images/shop/btn_pay3_off.png" id="ezhld_img_settle_pk_check">
			   							</div>
		   							 </li>
		   							 <li>
			   							 <div class="ezhldSettleDiv" id="ezhld_settle_fc" onclick="ezhld_settlekind_toggle_check('fc')">
			   								<img src="/images/shop/btn_pay2_off.png" id="ezhld_img_settle_fc_check">
			   							 </div>
		   							 </li>
		   						</ul>
		   					</div>
		   				</dd>
		   			</dl>
		   		</div>
		    </div>
		    <!-- 결제수단 선택/결제 끝 -->
		    
		    <!-- 결제 필수사항 동의 시작 -->
		    <div class="order_agree">
		    	<!-- <div class="form_element">
			    	<input type="checkbox" name="allAgreeLogin" id="allAgreeLogin" class="require">
			    	<label for="allAgreeLogin" class="check_s">결제 필수사항 동의</label>
			    </div> -->
			    <div class="order_zone_title">
			    	<h5>상품 공급사 개인정보 제공 동의에 대한 내용을 확인 하였으며 이에 동의합니다.</h5>
			    </div>
			    <div class="order_agree_cont" style="padding-bottom:3px;">
				    <div class="join_agreement_box">
				    	<input type="hidden" id="termAgreePrivateProvider" name="termAgreePrivateProvider" class="require">
				    	<div class="agreement_box">
					    	- 제공받는 자 : 골라 / 상품공급사<br>
					    	- 이용목적 : 판매자와 구매자의 거래의 원활한 진행, 본인의사의확인, 고객 상담 및 불만처리, 상품과 경품 배송을 위한 배송지 확인 등<br>
					    	- 제공항목 : 구매자 이름, 전화번호, ID, 휴대폰번호, 이메일주소, 상품 구매정보, 상품 수취인 정보(이름, 주소, 전화번호)<br>
					    	- 보유/이용기간 : 배송완료 후 한달
				    	</div>
				    </div>
			    </div>
			    <div class="order_zone_title">
			    	<input type="hidden" id="termAgree_orderCheck" class="require">
			    	<h5>구매하실 상품의 결제정보를 확인하였으며, 구매진행에 동의합니다.</h5>
			    </div>
			</div>
			<!-- 결제 필수사항 동의 끝 -->
			
			<!-- 결제하기 버튼 시작 -->
			<div class="btn_center_box">
				<button id="order_result_payment" class="btn_order_buy order-buy"><em>결제하기</em></button>
			</div>
			<!-- 결제하기 버튼 끝 -->
		</div>
    </div>
    </form>
   	
   	<!-- import footer -->
   	<footer th:replace="layout/fragment2 :: fr_footer"></footer>
   	<!-- end of import footer -->
   	
   	<script type="text/javascript">
   		/* 예상 적립금 설명 form */
	   	$(document).ready(function() {
	   		$(".mileageInfo").on('click',function (e){
	   			$(".point_my_sub").css('display','block');
	   		});
	   		$(".point_my_sub_btn").on('click',function (e){
	   			$(".point_my_sub").css('display','none');
	   		});
	   	});
	   	
	   	/* 결제수단 선택 스크립트 */
	   	function ezhld_settlekind_toggle_check(settle){
	   		$('.form_element label').removeClass('on');

	        $("[id^='ezhld_img_settle_']").each(function(){
	            $(this).attr("src",$(this).attr("src").replace("_on", "_off"));
	        });
	        $("#ezhld_img_settle_"+settle+"_check").attr("src",$("#ezhld_img_settle_"+settle+"_check").attr("src").replace("_off", "_on"));

	        var channelFl = 'shop';
	        if(settle == 'fc'){
	            channelFl = 'payco';
	            $('#settleKind_payco_fc').prop('checked', true);
	        }else {
	            $("#settleKind_"+settle).prop('checked', true);
	        }
	        $('[name="orderChannelFl"]').val(channelFl);
	        /* ezhld_set_last_settlekind(settle); */
	    }
	   	
	 	// rowspan 2이상일 경우 display none
	 	for (let i = 1; i <= 1000; i++) {
			$(function() {
				if(i >= 2) {
					$("#free2").css('display', 'none');
					$("#free3").css('display', 'none');
					$("#free4").css('display', 'none');
					$("#free5").css('display', 'none');
					$("#free6").css('display', 'none');
					$("#free7").css('display', 'none');
					$("#free8").css('display', 'none');
					$("#free9").css('display', 'none');
					$("#free10").css('display', 'none');
					$("#free11").css('display', 'none');
					$("#free12").css('display', 'none');
					$("#free13").css('display', 'none');
					$("#free14").css('display', 'none');
					$("#free15").css('display', 'none');
					$("#free16").css('display', 'none');
					$("#free17").css('display', 'none');
					$("#free18").css('display', 'none');
					$("#free19").css('display', 'none');
					$("#free20").css('display', 'none');
					$("#free21").css('display', 'none');
					$("#free22").css('display', 'none');
					$("#free23").css('display', 'none');
					$("#free24").css('display', 'none');
					$("#free25").css('display', 'none');
					$("#free26").css('display', 'none');
					$("#free27").css('display', 'none');
					$("#free28").css('display', 'none');
					$("#free29").css('display', 'none');
					$("#free30").css('display', 'none');
				}
			})
	 	}
   	</script>
	
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	<script src="http://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="/js/join.js"></script>
	<script type="text/javascript" src="/js/logineye.js"></script>

</body>

</html>