<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="indexhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover" />
  <meta property="og:title" content="우리들의 모든 레시피 | 골라">
  <!-- <meta property="og:image" content=""> -->
  <meta property="og:description" content="우리들의 모든 레시피, 골라">
  <meta property="og:type" content="website">
  <!-- title -->
  <title>장바구니 | 골라</title>

  <!-- CSS -->
  <th:block th:replace="style :: style_styles" />
  <th:block th:replace="style :: style_shop" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/c21d7630fc.js" crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script type="text/javascript" src="/js/chatbot.js"></script>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <!-- <script type="text/javascript" src="/js/click_disable.js"></script>
  <script type="text/javascript" src="/js/developer_tools.js"></script> -->

</head>

<body class="cartbody">

	<!-- import header -->
	<header th:replace="layout/fragment2 :: fr_header"></header>
	<!-- end of import header -->
	
	<!-- import leftbanner -->
	<nav th:replace="layout/cartbanner :: fr_leftbanner1"></nav>
	<!-- end of import leftbanner -->
	
	<!-- center title -->
	<div>
		<span class="carttitle">ORDER</span>
	</div>

	<div>
		<form>
			
			<div class="cart_content">
				<!-- 주문조회 타이틀 시작 -->
			    <div class="cart_title">
			        <h2>주문조회</h2>
			    </div>
			    <!-- 주문조회 타이틀 끝 -->
			    
			   <div class="cart_cont">
				    <!-- 상품 목록 시작 -->
				    <!-- 장바구니에 상품이 하나이상 담겼을때 출력 시작 -->
				    <div class="cart_product_on" th:if="${count != 0}">
					    <table style="width: 100%;">
					    	<colgroup>
					    		<col style="width: 10%;">
					    		<col style="width: 20%;">
			    				<col style="width: 31%;">
			    				<col style="width: 20%;">
			    				<col style="width: 15%;">
			    			</colgroup>
			    			<thead>
				                <tr>
			                    	<th>주문번호</th>
			                    	<th>주문자</th>
				                    <th>상품 정보</th>
				                    <th>결제금액</th>
				                    <th>결제일시</th>
				                </tr>
				            </thead>
				            <tbody>
				            	<tr th:each="list,stat : ${list}">
					            	<td>
				            			<span th:text="${list.orderNo}" class="cart_product_on_pname"></span>
					            	</td>
					            	<td>
				            			<span th:text="${list.oName}" ></span>
					            	</td>
					            	<td>
					            		<span th:text="${list.oProductMemo}" ></span>
					            	</td>
					            	<td>
					            		<span th:text="${list.oAllSumPrice}" ></span>원
					            	</td>
					            	<td>
					            		<span th:text="${list.oRegdate}" ></span>
					            	</td>
				            	</tr>
				        	</tbody>
					    </table>
					</div>

				  <!-- 장바구니에 상품이 하나이상 담겼을때 출력 끝 -->
					<!-- 장바구니에 담긴 상품이 없을때 출력 시작 -->
				    <div class="cart_product_off" th:unless="${count != 0}">
				    	<p class="cart_no_data">결제 내역이 없습니다.</p>
				    </div>
				    <!-- 장바구니에 담긴 상품이 없을때 출력 끝 -->
				    <!-- 상품 목록 끝 -->
				    
				    <!-- 이전으로 돌아가기 버튼 시작 -->
				   	<div class="cart_previous_btn">
				   		<a href="javascript:history.back();" class="cart_previous_link">쇼핑 계속하기</a>
				   	</div>
				   	<!-- 이전으로 돌아가기 버튼 끝 -->
			   	</div>
		    </div>
		</form>
    </div>
   	
   	<!-- import footer -->
   	<footer th:replace="layout/fragment2 :: fr_footer"></footer>
   	<!-- end of import footer -->
	
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
	crossorigin="anonymous"></script>
	<script src="http://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="/js/join.js"></script>
	<script type="text/javascript" src="/js/logineye.js"></script>

	<script type="text/javascript">
	
		//stat 가 count이므로 1부터 시작
		for (let i = 1; i <= 1000; i++) {
			$(function() {
				//input css 변경
			    $("#cb"+i).css({
			    	  "display": "none"
			    });
			
				//label css 변경
			    $(".label"+i).css({
			        "display": "inline-block",
			    	"width": "18px",
			    	"height": "18px",
			    	"border": "2px solid #bcbcbc",
			    	"cursor": "pointer",
			    	"margin": "8px 0 0 8px"
			        });
			});
			
			//체크박스 선택시 css 변경
			$("#cb"+i).change(function() {
				//value
			    var value = $(this).val();       
			    //checked 상태 (true, false)
			    var checked = $(this).prop('checked');  
			    //label 선택
			    var $label = $(this).next();            
			 
			    // checked ? $label.css('background-color', value) : $label.css('background-color', 'white');
			    if(checked)
			        $label.css('background-color', '#666666');      // label의 배경색을 바꾼다.
			    else
			        $label.css('background-color', 'white');    // label의 배경색을 초기화 한다.
			});
			
			
			//상품금액 천단위 콤마
			var money = $('.itemprice'+i).text();
			var moneycomma = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$('.itemprice'+i).text(moneycomma);
			
			//합계금액 천단위 콤마
			var money = $('.itemsum'+i).text();
			var moneycomma = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$('.itemsum'+i).text(moneycomma);
			
			//배송비 천단위 콤마
			var money = $('.itemdelivery'+i).text();
			var moneycomma = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$('.itemdelivery'+i).text(moneycomma);
			
			// 장바구니 상품 수량 수정
			$("#camount_change" + i).click(function() {
				var pno = $("#pno" + i).val();
				var camount = $("#camount" + i).val();
				
				var data = {
						pno : pno,
						camount : camount
					};
				
				$.ajax({
					url : "/shop/cart/modify",
					type : "post",
					data : data,
					success : function(result) {
						location.href=location.href;
					}
				});
			})
			
			// 장바구니 상품 삭제
			$("#cart_order_delete" + i).click(function() {
				var pno = $("#pno" + i).val();
				
				var data = { pno : pno };
				
				$.ajax({
					url : "/shop/cart/delete",
					type : "post",
					data : data,
					success : function(result) {
						location.href=location.href;
					}	
				});
			})
			
			// rowspan 2이상일 경우 display none
			$(function() {
				if(i >= 2) {
					$("#free2").css('display', 'none');
					$("#free3").css('display', 'none');
					$("#free4").css('display', 'none');
					$("#free5").css('display', 'none');
					$("#free6").css('display', 'none');
					$("#free7").css('display', 'none');
					$("#free8").css('display', 'none');
					$("#free9").css('display', 'none');
					$("#free10").css('display', 'none');
					$("#free11").css('display', 'none');
					$("#free12").css('display', 'none');
					$("#free13").css('display', 'none');
					$("#free14").css('display', 'none');
					$("#free15").css('display', 'none');
					$("#free16").css('display', 'none');
					$("#free17").css('display', 'none');
					$("#free18").css('display', 'none');
					$("#free19").css('display', 'none');
					$("#free20").css('display', 'none');
					$("#free21").css('display', 'none');
					$("#free22").css('display', 'none');
					$("#free23").css('display', 'none');
					$("#free24").css('display', 'none');
					$("#free25").css('display', 'none');
					$("#free26").css('display', 'none');
					$("#free27").css('display', 'none');
					$("#free28").css('display', 'none');
					$("#free29").css('display', 'none');
					$("#free30").css('display', 'none');
				}
			})
		}
		//for문 끝
		
		//체크박스 전체선택/전체해제 - !!제대로 작동안됨!! 
		$("#cb0").click(function() {
		    if($("#cb0").is(":checked")){
		        $("input[name=chckBox]").prop("checked", true);
		    }
		    else{
		        $("input[name=chckBox]").prop("checked", false);
		    }
		});
		
		//개별 체크박스를 모두 선택 시 최상단 체크박스가 선택됨
		$("input[name=chckBox]").click(function() {
			var total = $("input[name=chckBox]").length;
			var checked = $("input[name=chckBox]:checked").length;
			
			if(total != checked) $("#cb0").prop("checked", false);
			else $("#cb0").prop("checked", true); 
		});
		
		
	</script>

</body>

</html>